<template>
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-row type="flex" justify="space-between">
                <el-col :span="4">
                    <el-button type="primary" @click="openBoxAdd">Thêm</el-button>
                </el-col>
                <el-col :span="16">
                    <el-row type="flex" justify="end" :gutter="20">
                        <el-col :span="6">
                            <el-select v-model="subjectId" placeholder="Select" @change="getExams">
                                <el-option label="Tất cả môn học" :value="-1"></el-option>
                                <el-option
                                    v-for="(sub,index) in subjects"
                                    :key="'A' + index"
                                    :value="sub.id"
                                    :label="sub.code+' - '+sub.name">
                                    </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-select v-model="grade" placeholder="Select" @change="getExams">
                                <el-option label="Khối 10" :value="10"></el-option>
                                <el-option label="Khối 11" :value="11"></el-option>
                                <el-option label="Khối 12" :value="12"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-input
                                placeholder="TÌm đề thi theo mã hoặc tên"
                                prefix-icon="el-icon-search"
                                v-model="contentSearch"
                                v-on:input="debounceInput"
                                >
                            </el-input>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>

            <el-row>
                <STable
                    :tableData="tableData"
                    :cols="cols"
                    :colfixeds="colfixeds"
                    @editRow="editRow"
                    :hasDelete="false"
                    :hasEdit="true"
                ></STable>
            </el-row>

            <el-drawer
            :title="title"
            :visible.sync="isOpen"
            size="80%">
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <el-form :model="objectExam" label-position="left" label-width="120px" style="margin-top: 20px">
                    
                            <el-form-item label="Mã đề">
                                <el-input v-model="objectExam.code" disabled></el-input>
                            </el-form-item>
                            <el-form-item label="Tên đề thi">
                                <el-input v-model="objectExam.name"></el-input>
                            </el-form-item>
                            <el-row type="flex" justify="space-around" :gutter="20">
                                <el-col :span="8">
                                    <el-form-item label="Thời gian (phút)">
                                        <el-input v-model="objectExam.time" type="number" :min="1"></el-input>
                                    </el-form-item>
                                </el-col>

                                <el-col :span="8">
                                    <el-form-item label="Môn">
                                        <el-select v-model="objectExam.subject" placeholder="Select" style="width:100%">
                                            <el-option label="Chọn môn học" :value="-1"></el-option>
                                            <el-option
                                                v-for="(sub,index) in subjects"
                                                :key="'A3' + index"
                                                :value="sub.id"
                                                :label="sub.code+' - '+sub.name">
                                                </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                
                                
                                <el-col :span="8">
                                    <el-form-item label="Khối">
                                        <el-select v-model="objectExam.grade" placeholder="Select" style="width:100%">
                                            <el-option label="Khối 10" :value="10"></el-option>
                                            <el-option label="Khối 11" :value="11"></el-option>
                                            <el-option label="Khối 12" :value="12"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                
                            </el-row>
                            <el-form-item v-if="isAdd == false" label="Câu hỏi">
                                <el-input type="textarea" :rows="2" v-model="objectExam.questionCodes"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="save">{{ nameButton }}</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
            </el-drawer>
        </el-col>
    </el-row>
</template>

<script>
import STable from '@/components/common/Table'
export default {
    components:{
        STable:STable,
    },
    data(){
        return {
            teacherId: localStorage.getItem("idUser"),
            timeOutFilter:null,
            title:"",
            nameButton:"",
            subjectId: -1,
            grade:10,
            isAdd:false,
            isOpen:false,
            tableData:[],
            tableData2:[],
            cols:[{
                prop:"code",
                label:"Mã đề thi",
                width:120
            },{
                prop:"name",
                label:"Tên đề thi",
                width:300
            },{
                prop:"time",
                label:"Thời gian làm",
                width:150
            },{
                prop:"subjectName",
                label:"Môn",
                width:150
            },{
                prop:"grade",
                label:"Khối",
                width:80
            },{
                prop:"teacherCode",
                label:"Mã giáo viên cập nhật cuói",
                width:250
            },{
                prop:"teacherName",
                label:"Tên giáo viên cập nhật cuối",
                width:250
            }],
            colfixeds:[],
            objectExam:{
                id:-1,
                code:"",
                name:"",
                time:"",
                grade:10,
                subject:"",
                teacherPublish:localStorage.getItem("idUser"),
                teacherCode:"",
                teacherName:"",
                questionCodes:"",
            },
            subjects:[],
            contentSearch:"",
        }
    },
    methods:{
        async openBoxAdd(){
            let code = await this.$RestFul.get("/api/exams/newCode");
            this.objectExam = {
                id:-1,
                code:code,
                name:"",
                time:"",
                grade:10,
                subject:"",
                teacherPublish:localStorage.getItem("idUser"),
                teacherCode:"",
                teacherName:"",
                questionCodes:"",
            };
            this.isAdd = true;
            this.isOpen = true;
            this.title = "Thêm đề thi";
            this.nameButton = "Thêm";
        },

        async editRow(index ,row){
            this.objectExam = await this.$RestFul.get("/api/exams/getExamById/"+row.id);
            this.isAdd = false;
            this.isOpen = true;
            this.title="Chi tiết đề thi: "+row.code;
            this.nameButton="Lưu";
        },

        async getExams(){
            let data = await this.$RestFul.get("/api/exams/getAllExamFilter/2?subjectId="+this.subjectId+"&grade="+this.grade);
            if(data != null){
                this.tableData2 = data;
            }
            this.tableData = this.tableData2;
        },

        debounceInput() {
            if(this.timeOutFilter != null){
                clearTimeout(this.timeOutFilter);
            }
            let v = this;
            this.timeOutFilter = setTimeout(function(){
                v.filter();
            },500);
        },

        filter(){
            if(this.contentSearch.trim() != ""){
                let search = this.contentSearch.trim();
                let data = [];
                this.tableData2.forEach(el => {
                    if(el.code.toUpperCase().indexOf(search.toUpperCase())>=0 || el.name.toUpperCase().indexOf(search.toUpperCase())>=0){
                        data.push(el);
                    }
                });
                this.tableData = data;
                clearTimeout(this.timeOutFilter);
            }else{
                this.tableData = this.tableData2;
                clearTimeout(this.timeOutFilter);
            }
        },

        async save(){
            let data = null;
            let api = "";
            if(this.isAdd){
                api = "/api/exams/addExam";
                data = await this.$RestFul.post(api,this.objectExam);
            }else{
                api = "/api/exams/updateExam/"+this.teacherId;
                data = await this.$RestFul.put(api,this.objectExam);
            }
            let flag = false;
            if(data != null){
                if(this.isAdd){
                    if(data.status > 0){
                        this.$message({
                        message:"Thêm thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Thêm thất bại');
                    }
                }else{
                    if(data.status > 0){
                        this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Cập nhật thông tin thất bại');
                    }
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            if(flag){
                this.getExams();
            }
        },

        async getAllSubject(){
            let data = await this.$RestFul.get("/api/subject/allSubject");
            if(data != null){
                this.subjects = data;
            }
        },
    },
    created(){
        this.getAllSubject();
        this.getExams();
    },
    computed:{

    },
}
</script>

<style scoped>

</style>