<template>
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-row type="flex" justify="space-between">
                <el-col :span="4">
                    <el-button type="primary" @click="openBoxAdd">Thêm</el-button>
                </el-col>
                <el-col :span="16">
                    <el-row type="flex" justify="end" :gutter="20">
                        <el-col :span="6">
                            <el-select v-model="subjectId" placeholder="Select" @change="getSubjectPart">
                                <el-option label="Tất cả môn học" :value="-1"></el-option>
                                <el-option
                                    v-for="(sub,index) in subjects"
                                    :key="'A' + index"
                                    :value="sub.id"
                                    :label="sub.code+' - '+sub.name">
                                    </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-select v-model="subjectPartId" placeholder="Select" @change="checkGetQuestion">
                                <el-option label="Tất cả thành phần" :value="-1"></el-option>
                                <el-option
                                    v-for="(sub,index) in subjectParts"
                                    :key="'A1' + index"
                                    :value="sub.id"
                                    :label="sub.code+' - '+sub.name">
                                    </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-select v-model="levelId" placeholder="Select" @change="getQuestion">
                                <el-option label="Chọn Mức Độ" :value="-1"></el-option>
                                <el-option label="Dễ" :value="1"></el-option>
                                <el-option label="Trung Bình" :value="2"></el-option>
                                <el-option label="Khó" :value="3"></el-option>
                                <el-option label="Rất khó" :value="4"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-input
                                placeholder="TÌm câu hỏi theo mã hoặc nội dung"
                                prefix-icon="el-icon-search"
                                v-model="contentSearch"
                                v-on:input="debounceInput"
                                >
                            </el-input>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>

            <el-row>
                <STable
                    :tableData="tableData"
                    :cols="cols"
                    :colfixeds="colfixeds"
                    @editRow="editRow"
                    :hasDelete="false"
                    :hasEdit="true"
                ></STable>
            </el-row>

            <el-drawer
            :title="title"
            :visible.sync="isOpen"
            size="80%">
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <el-form :model="objectQuestion" label-position="left" label-width="120px" style="margin-top: 20px">
                    
                            <el-form-item label="Mã câu hỏi">
                                <el-input v-model="objectQuestion.code" disabled></el-input>
                            </el-form-item>
                            <el-form-item label="Nội dung">
                                <el-input type="textarea" :rows="2" v-model="objectQuestion.content"></el-input>
                            </el-form-item>
                            <el-row type="flex" justify="space-around" :gutter="20">
                                
                                <el-col :span="8">
                                    <el-form-item label="Môn">
                                        <el-select v-model="objectQuestion.subjectId" placeholder="Select" @change="getSubjectPart2" style="width:100%">
                                            <el-option label="Chọn môn học" :value="-1"></el-option>
                                            <el-option
                                                v-for="(sub,index) in subjects"
                                                :key="'A3' + index"
                                                :value="sub.id"
                                                :label="sub.code+' - '+sub.name">
                                                </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                
                                
                                <el-col :span="8">
                                    <el-form-item label="Phần">
                                        <el-select v-model="objectQuestion.subjectPartId" placeholder="Select" style="width:100%">
                                            <el-option label="Chọn thành phần" :value="-1"></el-option>
                                            <el-option
                                                v-for="(sub,index) in subjectParts2"
                                                :key="'A4' + index"
                                                :value="sub.id"
                                                :label="sub.code+' - '+sub.name">
                                                </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                
                                
                                <el-col :span="8">
                                    <el-form-item label="Mức độ">
                                        <el-select v-model="objectQuestion.level" placeholder="Select" style="width:100%">
                                            <el-option label="Chọn Mức Độ" :value="-1"></el-option>
                                            <el-option label="Dễ" :value="1"></el-option>
                                            <el-option label="Trung Bình" :value="2"></el-option>
                                            <el-option label="Khó" :value="3"></el-option>
                                            <el-option label="Rất khó" :value="4"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                
                            </el-row>
                            <el-form-item>
                                <el-radio v-model="objectQuestion.ansCorrect" :label="0" style="width:100%">
                                    <el-input v-model="objectQuestion.ans1" ></el-input>
                                </el-radio>
                            </el-form-item>
                            <el-form-item>
                                <el-radio v-model="objectQuestion.ansCorrect" :label="1" style="width:100%">
                                    <el-input v-model="objectQuestion.ans2" ></el-input>
                                </el-radio>
                            </el-form-item>
                            <el-form-item>
                                <el-radio v-model="objectQuestion.ansCorrect" :label="2" style="width:100%">
                                    <el-input v-model="objectQuestion.ans3" ></el-input>
                                </el-radio>
                            </el-form-item>
                            <el-form-item>
                                <el-radio v-model="objectQuestion.ansCorrect" :label="3" style="width:100%">
                                    <el-input v-model="objectQuestion.ans4" ></el-input>
                                </el-radio>
                            </el-form-item>
                            <el-form-item v-if="isAdd==false">
                                <div class="box-image">
                                    <UploadImageQuestion
                                        :imageQuestion="objectQuestion.image"
                                        :idQuestion="objectQuestion.id"
                                        @updateImageQuestion="updateImageQuestion"
                                    ></UploadImageQuestion>
                                    <el-button style="margin-left: 20px" @click="deleteImageQuestion" v-if="objectQuestion.image">Xóa ảnh</el-button>
                                </div>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="save">{{ nameButton }}</el-button>
                            </el-form-item>
                            <el-form-item v-if="isAdd == false">
                                <el-button type="primary" @click="view">Xem trước</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
            </el-drawer>

            <el-drawer
            title="Xem câu hỏi"
            :visible.sync="isView"
            size="60%">
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <show-question
                            :question="objectQuestion"
                            :stt="1"
                            :result="testResult"
                            @updateResult="testUpdateResult"
                        ></show-question>
                    </el-col>
                </el-row>
            </el-drawer>
        </el-col>
    </el-row>
</template>

<script>
import STable from '@/components/common/Table'
import UploadImageQuestion from '@/components/common/UploadImageQuestion'
import ShowQuestion from '@/components/common/ShowQuestion'
export default {
    components:{
        STable:STable,
        UploadImageQuestion:UploadImageQuestion,
        ShowQuestion: ShowQuestion
    },
    data(){
        return {
            testResult:-1,
            isView: false,
            timeOutFilter:null,
            title:"",
            nameButton:"",
            subjectId: -1,
            subjectPartId:-1,
            levelId:-1,
            isAdd:false,
            isOpen:false,
            tableData:[],
            tableData2:[],
            cols:[{
                prop:"code",
                label:"Mã câu hỏi",
                width:120
            },{
                prop:"content",
                label:"Nội dung",
                width:300
            },{
                prop:"ans1",
                label:"Đáp án 1",
                width:200
            },{
                prop:"ans2",
                label:"Đáp án 2",
                width:200
            },{
                prop:"ans3",
                label:"Đáp án 3",
                width:200
            },{
                prop:"ans4",
                label:"Đáp án 4",
                width:200
            },{
                prop:"subjectName",
                label:"Môn",
                width:150
            },{
                prop:"subjectPartName",
                label:"Phần",
                width:200
            },{
                prop:"levelText",
                label:"Mức độ",
                width:100
            }],
            colfixeds:[],
            objectQuestion:{
                id:-1,
                code:"",
                content:"",
                image:"",
                answers:"",
                ans1:"",
                ans2:"",
                ans3:"",
                ans4:"",
                ansCorrect:"",
                subjectId:-1,
                subjectPartId: -1,
                level: -1
            },
            subjectParts:[],
            subjectParts2:[],
            subjects:[],
            textSplit:"##dxt##",
            contentSearch:"",
        }
    },
    methods:{
        async openBoxAdd(){
            let code = await this.$RestFul.get("/api/questions/newCode");
            this.objectQuestion = {
                id:-1,
                code:code,
                content:"",
                image:"",
                answers:"",
                ans1:"",
                ans2:"",
                ans3:"",
                ans4:"",
                ansCorrect:"",
                subjectId:-1,
                subjectPartId: -1,
                level: -1
            };
            this.isAdd = true;
            this.isOpen = true;
            this.title = "Thêm câu hỏi";
            this.nameButton = "Thêm";
        },

        async editRow(index ,row){
            let obj = await this.$RestFul.get("/api/questions/getbyid/"+row.id);
            if(obj.answers != null){
                let anss = obj.answers.split(this.textSplit);
                obj.ansCorrect= anss[0] * 1;
                obj.ans1 = anss[1];
                obj.ans2 = anss[2];
                obj.ans3 = anss[3];
                obj.ans4 = anss[4];
            }else{
                obj.ansCorrect= -1;
                obj.ans1 = "";
                obj.ans2 = "";
                obj.ans3 = "";
                obj.ans4 = "";
            }
            this.objectQuestion  = obj;
            this.getSubjectPart2();
            // this.objectQuestion = row;
            console.log(this.objectQuestion);
            this.isAdd = false;
            this.isOpen = true;
            this.title="Chi tiết câu hỏi: "+row.code;
            this.nameButton="Lưu";
        },

        async getQuestion(){
            let data = await this.$RestFul.get("/api/questions/getQuestion?subjectId="+this.subjectId+"&subjectPartId="+this.subjectPartId+"&levelId="+this.levelId);
            if(data != null){
                this.tableData2 = [];
                let v = this;
                data.forEach(el => {
                    let obj = el;
                    if(obj.answers != null){
                        let anss = obj.answers.split(v.textSplit);
                        obj.ansCorrect= anss[0] * 1;
                        obj.ans1 = anss[1];
                        obj.ans2 = anss[2];
                        obj.ans3 = anss[3];
                        obj.ans4 = anss[4];
                    }else{
                        obj.ansCorrect= -1;
                        obj.ans1 = "";
                        obj.ans2 = "";
                        obj.ans3 = "";
                        obj.ans4 = "";
                    }
                    v.tableData2.push(obj);
                });
            }
            this.tableData = this.tableData2;
        },

        debounceInput() {
            if(this.timeOutFilter != null){
                clearTimeout(this.timeOutFilter);
            }
            let v = this;
            this.timeOutFilter = setTimeout(function(){
                v.filter();
            },500);
        },

        filter(){
            if(this.contentSearch.trim() != ""){
                let search = this.contentSearch.trim();
                let data = [];
                this.tableData2.forEach(el => {
                    if(el.code.toUpperCase().indexOf(search.toUpperCase())>=0 || el.content.toUpperCase().indexOf(search.toUpperCase())>=0){
                        data.push(el);
                    }
                });
                this.tableData = data;
                clearTimeout(this.timeOutFilter);
            }else{
                this.tableData = this.tableData2;
                clearTimeout(this.timeOutFilter);
            }
        },

        async save(){
            let obj = {};
            obj.id = this.objectQuestion.id;
            obj.code = this.objectQuestion.code;
            obj.content = this.objectQuestion.content;
            obj.image = this.objectQuestion.image;
            obj.subjectPartId = this.objectQuestion.subjectPartId;
            obj.subjectId = this.objectQuestion.subjectId;
            obj.level = this.objectQuestion.level;
            obj.answers = this.objectQuestion.ansCorrect+this.textSplit+this.objectQuestion.ans1+this.textSplit+this.objectQuestion.ans2+this.textSplit+this.objectQuestion.ans3+this.textSplit+this.objectQuestion.ans4;
            let api = "";
            let data = null;
            if(this.isAdd){
                api = "/api/questions/addQuestion";
                data = await this.$RestFul.post(api,obj);
            }else{
                api = "/api/questions/updateQuestion";
                data = await this.$RestFul.put(api,obj);
            }
            let flag = false;
            if(data != null){
                if(this.isAdd){
                    if(data.status > 0){
                        this.$message({
                        message:"Thêm thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Thêm thất bại');
                    }
                    this.openBoxAdd();
                }else{
                    if(data.status > 0){
                        this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Cập nhật thông tin thất bại');
                    }
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            if(flag){
                this.getQuestion();
            }
        },

        async deleteImageQuestion(){
            let data = await this.$RestFul.del("/api/others/deleteImageQuestion/"+this.objectQuestion.id);
            if(data!= null){
                if(data.status > 0){
                    this.$message({
                    message:"Xóa ảnh thành công",
                    type:'success'
                    });
                    this.objectQuestion.image = "";
                }else{
                    this.$message.error('Xóa thất bại');
                }
            }
        },

        async getAllSubject(){
            let data = await this.$RestFul.get("/api/subject/allSubject");
            if(data != null){
                this.subjects = data;
            }
        },

        checkGetQuestion(){
            this.levelId = -1;
            if(this.levelId == -1){
                this.getQuestion();
            }
        },

        async getSubjectPart(){
            let data = await this.$RestFul.get("/api/subject/getAllSubjectPart/"+this.subjectId);
            if(data != null){
                this.subjectParts = data;
            }
            this.subjectPartId = -1;
            this.levelId = -1;
            this.getQuestion();
        },

        async getSubjectPart2(){
            let data = await this.$RestFul.get("/api/subject/getAllSubjectPart/"+this.objectQuestion.subjectId);
            if(data != null){
                this.subjectParts2 = data;
            }
        },

        updateImageQuestion(link){
            this.objectQuestion.image = link;
        },

        view(){
            this.isView = true;
        },
        testUpdateResult(index, re){
        }
    },
    created(){
        this.getAllSubject();
        this.getQuestion();
    },
    computed:{

    },
}
</script>

<style scoped>
.box-image{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: start;
    align-items: center;
}
</style>