<template>
    <div>
        <el-row type="flex" justify="center">
            <el-col :span="16">
                <div class="title">
                    <h3 style="margin-bottom:20px">Đề thi - {{objectExam.examCode}} - {{objectExam.examName}}</h3>
                    <h4>Thời gian làm bài: {{ objectExam.maxTime }} phút</h4>
                </div>
                <div class="timer">
                    <p><span>{{ hour }}</span> : <span>{{ min }}</span> : <span>{{ second }}</span></p>
                </div>
                <div style="width:100%">
                    <div v-for="(q, index) in listObjectShow" :key="index" style="width:100%; margin-top:20px">
                        <ShowQuestion
                            :question="q"
                            :stt="q.stt"
                            :result="q.result"
                            @updateResult="update"
                        ></ShowQuestion>
                    </div>
                </div>
                <div class="footer">
                    <el-button type="primary" @click="endExam">Nộp bài</el-button>
                </div>
            </el-col>
        </el-row>

        <el-dialog
            title="Thông báo"
            :visible.sync="centerDialogVisible"
            width="30%"
            center>
            <span>Bạn nhận được điểm</span>
            <span style="font-size:25px;font-weight: bold">{{mark}}</span>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="changePage">Xác nhận</el-button>
            </span>
            </el-dialog>
    </div>
</template>

<script>
import ShowQuestion from '@/components/common/ShowQuestion'
export default {
    components:{
        ShowQuestion: ShowQuestion
    },
    data(){
        return {
            centerDialogVisible: false,
            mark:0,
            interval:null,
            hour:0,
            min:0,
            second:0,
            textsplit:"##dxt##",
            index:-1,
            studentId: localStorage.getItem("idUser"),
            objectExam:{
                id:-1,
                examCode:"",
                examName:"",
                maxTime:0,
                timeLeft:0,
                results:[],
                questions:[]
            },
            objectShow:{
                id:-1,
	            code:"",
	            content:"",
                image:"",
                answers:"",
                ans1:"",
                ans2:"",
                ans3:"",
                ans4:"",
                result:-1,
            },
            listObjectShow:[]
        }
    },
    methods:{
        showDetailQuestion(stt){

        },
        async getExam(){
            let data = await this.$RestFul.get("/api/exams/getStudentExam/"+this.studentId);
            if(data != null){
                this.objectExam = data;
                let v = this;
                this.listObjectShow = [];
                for(let i = 0;i<this.objectExam.questions.length;i++){
                    let obj = this.objectExam.questions[i];
                    let ans = obj.answers.split(this.textsplit);
                    obj.ans1 = ans[0];
                    obj.ans2 = ans[1];
                    obj.ans3 = ans[2];
                    obj.ans4 = ans[3];
                    obj.result = this.objectExam.results[i]*1;
                    obj.stt = i+1;
                    this.listObjectShow.push(obj);
                }
                if(this.objectExam.timeLeft <= 0){
                    this.endExam();
                }
                this.controlTImer();
            }
        },


        controlTImer(){
            let time = this.objectExam.timeLeft;
            let v = this;
            this.hour = 0;
            this.min = 0;
            this.second = time;
            let time2 = time;
            if(time>60){
                this.second = time%60;
                time2 = (time2 - this.second)/60;
                this.min = time2;
            }
            if(time2 > 60){
                this.min = time2 % 60;
                this.hour = (time2 - this.min)/60;
            }
            this.interval = setInterval(function(){
                if(v.second == 0){
                    if(v.min == 0){
                        if(v.hour == 0){
                            clearInterval(v.interval);
                           v.endExam();
                        }else{
                            v.hour--;
                            v.min = 59;
                            v.second = 59;
                        }
                    }else{
                        v.min --;
                        v.second = 59;
                    }
                }else{
                    v.second --;
                }
            },1000);
        },

        async update(stt, re){
            this.listObjectShow[stt].result = re;
            this.objectExam.results[stt] = re;
            let data = await this.$RestFul.post("/api/exams/updateStudentExam", this.objectExam);
        },
        async endExam(){
            let data = await this.$RestFul.get("/api/exams/endStudentExam/"+this.objectExam.id);
            if(data!=null){
                let markT = data.status;
                if(markT>=0){
                    this.mark = markT;
                    this.centerDialogVisible = true;
                }
            }
        },
        changePage(){
            this.centerDialogVisible = false;
            this.$router.push("/student/mstudenthistory");
        }
    },
    created(){
        this.getExam();
    }
}
</script>

<style scoped>
.background-gray{
    background-color: rgb(185, 174, 174);
}
.background-white{
    background-color: white;
}
.focus{
    border: 2px solid;
}
.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}
.timer{
    text-align: center;
    font-weight: bolder;
    font-size: 56px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
</style>