<template>
    <div>
        <STable
            :tableData="historys"
            :cols="cols"
            :colfixeds="colfixeds"
            :hasDelete="false"
            :hasEdit="false"
        ></STable>
    </div>
</template>

<script>
import STable from '@/components/common/Table'
export default {
    components:{
        STable:STable,
    },
    data(){
        return {
            historys:[],
            cls:{},
            student:{},
            colfixeds:[],
            cols:[
            {
                prop:'examCode',
                label:'Mã đề',
                width:120,
            },{
                prop:'examName',
                label:'Tên đề thi',
                width:250,
            },{
                prop:'startDate',
                label:'Bắt đầu',
                width:250,
            },{
                prop:'endDate',
                label:'Hoàn thành',
                width:150,
            },{
                prop:'mark',
                label:'Điểm',
                width:120,
            },],

        };
    },

    methods:{

        async getAllHistory(id){
            let data = await this.$RestFul.get("/api/exams/getHistory/"+id);
            if(data!=null){
                this.historys = data;
            }
        },
    },

    async created(){
        await this.getAllHistory(localStorage.getItem("idUser"));
    }
}
</script>