<template>
    <div>
        <el-row type="flex" justify="start">
            <el-col :span="5">
                <el-row type="flex" justify="space-between" class="info-row">
                    <el-col :span="6">Mã lớp: </el-col>
                    <el-col :span="14">{{ cls.code }}</el-col>
                </el-row>
                <el-row type="flex" justify="space-between" class="info-row">
                    <el-col :span="6">Tên lớp: </el-col>
                    <el-col :span="14">{{ cls.name }}</el-col>
                </el-row>
                <el-row type="flex" justify="space-between" class="info-row">
                    <el-col :span="6">Sĩ số: </el-col>
                    <el-col :span="14">{{ students.length }}</el-col>
                </el-row>
            </el-col>
            <el-col :span="10">
                <el-row type="flex" justify="space-between" class="info-row">
                    <el-col :span="8">Mã giáo viên chủ nhiệm: </el-col>
                    <el-col :span="14">{{ teacher.code }}</el-col>
                </el-row>
                <el-row type="flex" justify="space-between" class="info-row">
                    <el-col :span="8">Tên giáo viên chủ nhiệm: </el-col>
                    <el-col :span="14">{{ teacher.name }}</el-col>
                </el-row>
                <el-row type="flex" justify="space-between" class="info-row">
                    <el-col :span="8">Số điện thoại: </el-col>
                    <el-col :span="14">{{ teacher.phone }}</el-col>
                </el-row>
                <el-row type="flex" justify="space-between" class="info-row">
                    <el-col :span="8">Email: </el-col>
                    <el-col :span="14">{{ teacher.email }}</el-col>
                </el-row>
            </el-col>
        </el-row>
        <STable
            :tableData="students"
            :cols="cols"
            :colfixeds="colfixeds"
            :hasDelete="false"
            :hasEdit="false"
        ></STable>
    </div>
</template>

<script>
import STable from '@/components/common/Table'
export default {
    components:{
        STable:STable,
    },
    data(){
        return {
            students:[],
            cls:{},
            teacher:{},
            isShowInfo:false,
            student:{},
            colfixeds:[
                {
                    prop:'code',
                    label:'Mã số',
                    width:100,
                },{
                    prop:'name',
                    label:'Họ và tên',
                    width:300,
                },
            ],
            cols:[
            {
                prop:'birthday',
                label:'Ngày sinh',
                width:120,
            },{
                prop:'gender',
                label:'Giới tính',
                width:100,
            },{
                prop:'address',
                label:'Địa chỉ',
                width:250,
            },{
                prop:'identify',
                label:'Số CMND/CC',
                width:150,
            },{
                prop:'phone',
                label:'Số điện thoại',
                width:120,
            },{
                prop:'email',
                label:'Email',
                width:300,
            }],

        };
    },

    methods:{
        async getStudent(id){
            let data = await this.$RestFul.get("/api/students/getbyid/"+id);
            if(data!= null){
                this.student = data;
            }
        },

        async getAllClassmate(id){
            let data = await this.$RestFul.get("/api/students/getClassmate/"+id);
            if(data!=null){
                this.cls = data.cls;
                this.teacher = data.teacher;
                data.students.forEach(stu => {
                    stu.birth = new Date(stu.birth);
                    if(stu.gender == 1){
                        stu.gender = "Nam";
                    }else{
                        stu.gender = "Nữ";
                    }
                    stu.identifyDate = new Date(stu.identifyDate);
                    let bir = stu.birth.getDate()+"/"+(stu.birth.getMonth()+1)+"/"+stu.birth.getFullYear();
                    stu['birthday'] = bir;
                });
                this.students = data.students;
            }
        },
    },

    async created(){
        await this.getStudent(localStorage.getItem("idUser"));
        await this.getAllClassmate(localStorage.getItem("idUser"));
        this.isShowInfo = true;
    }
}
</script>

<style scoped>
.info-row{
    margin-bottom: 8px;
}
</style>