<template>
    <div>
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <STable
                    :tableData="getDataTKB"
                    :cols="cols"
                    :colfixeds="colfixeds"
                    :hasDelete="false"
                    :hasEdit="false"
                ></STable>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import STable from '@/components/common/Table'
export default {
    components:{
        STable:STable,
    },
    data(){
        return {
            classes:{},
            subjects:{},
            tableData:[],
            timeTableStudent:null,
            colfixeds:[],
            cols:[{
                prop:"T",
                label:"",
                width:120
            },{
                prop:"D0",
                label:"Thứ Hai",
                width:180
            },{
                prop:"D1",
                label:"Thứ Ba",
                width:180
            },{
                prop:"D2",
                label:"Thứ Tư",
                width:180
            },{
                prop:"D3",
                label:"Thứ Năm",
                width:180
            },{
                prop:"D4",
                label:"Thứ Sáu",
                width:180
            },{
                prop:"D5",
                label:"Thứ Bảy",
                width:180
            }],
        }
    },
    
    methods:{
        async getAllSubject(){
            let data = await this.$RestFul.get("/api/subject/allSubject");
            if(data!=null){
                this.subjects={};
                data.forEach(el => {
                    this.subjects[el.id] = el;
                });
                console.log(this.subjects);
            }
        },

        async getTImeTable(){
            let data = await this.$RestFul.get("/api/students/getTimeTable/"+localStorage.getItem("idUser") * 1);
            if(data!=null){
                this.timeTableStudent = data;
            }
        }
    },

    async created(){
        await this.getAllSubject();
        await this.getTImeTable();
    },

    computed:{
        getDataTKB(){
            if(this.timeTableStudent == null){
                return this.tableData;
            }
            let tkb = this.timeTableStudent;
            console.log(tkb);
            let data = [];
            let i = 0;
            let value = "";
            for(i = 0;i<10;i++){
                let obj = {};
                if(tkb[0][i] != -1){
                    value = this.subjects[tkb[0][i]].name;
                }else{
                    value = "";
                }
                obj['D0'] = value;
                
                if(tkb[1][i] != -1){
                    value = this.subjects[tkb[1][i]].name;
                }else{
                    value = "";
                }
                obj['D1'] = value;

                if(tkb[2][i] != -1){
                    value = this.subjects[tkb[2][i]].name;
                }else{
                    value = "";
                }
                obj['D2'] = value;

                if(tkb[3][i] != -1){
                    value = this.subjects[tkb[3][i]].name;
                }else{
                    value = "";
                }
                obj['D3'] = value;

                if(tkb[4][i] != -1){
                    value = this.subjects[tkb[4][i]].name;
                }else{
                    value = "";
                }
                obj['D4'] = value;

                if(tkb[5][i] != -1){
                    value = this.subjects[tkb[5][i]].name;
                }else{
                    value = "";
                }
                obj['D5'] = value;
                
                obj['T'] = "Tiết "+(i+1);
                data.push(obj);
            }
            this.tableData = data;
            return this.tableData;
        }
    }
}
</script>