<template>
    <div>
        <el-row type="flex" justify="space-between">
            <el-col :span="6">
                <el-button type="primary" @click="openAddBox">Thêm</el-button>
            </el-col>
            <el-col :span="6">
                <el-input
                    placeholder="TÌm môn học theo mã hoặc tên"
                    prefix-icon="el-icon-search"
                    v-model="contentSearch"
                    v-on:input="debounceInput"
                    >
                </el-input>
            </el-col>
        </el-row>

        <STable
            :tableData="tableData"
            :cols="cols"
            :colfixeds="colfixeds"
            @editRow="editRow"
            :hasDelete="false"
            :hasEdit="true"
        ></STable>

        <el-drawer
            :title="title"
            :visible.sync="isOpenBox"
            size="50%">
            <el-row type="flex" justify="center">
                <el-col :span="20">
                    <el-form :model="subject" label-width="120px" label-position="left">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Mã môn học">
                                    <el-input v-model="subject.code" disabled></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Tên môn học">
                                    <el-input v-model="subject.name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item label="Tính tổng kết chung">
                            <el-select v-model="subject.subjectFinal" placeholder="Select" style="width:100%">
                                <el-option :value="1" label="Có"></el-option>
                                <el-option :value="0" label="Không"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="saveSubject">{{ nameButton }}</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <el-divider></el-divider>
            <el-row v-if="isAdd == false" type="flex" justify="center">
                <el-col :span="22">
                    <div>
                        <el-button @click="addSubjectPart">Thêm thành phần</el-button>
                    </div>
                    <div style="margin-top:20px">
                        <STable
                        :tableData="tableDataSubjectPart"
                        :cols="colsPart"
                        :colfixeds="colfixedsPart"
                        @editRow="editRowPart"
                        :hasDelete="false"
                        :hasEdit="true"
                    ></STable>
                    </div>
                    <div style="margin-top: 20px" v-if="isOpenBox2">
                        <el-form :model="subjectPart" label-width="120px" label-position="left">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Mã thành phần">
                                    <el-input v-model="subjectPart.code" disabled></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Tên thành phần">
                                    <el-input v-model="subjectPart.name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item>
                            <el-button type="primary" @click="saveSubjectPart">{{ nameButton2 }}</el-button>
                        </el-form-item>
                    </el-form>
                    </div>
                </el-col>
            </el-row>
        </el-drawer>
    </div>
</template>

<style scoped>

</style>

<script>
import STable from '@/components/common/Table'
export default {
    components:{
        STable: STable
    },
    data(){
        return {
            tableData:[],
            tableData2:[],
            contentSearch:"",
            colfixeds:[],
            colfixedsPart:[],
            cols:[{
                prop:"code",
                label:"Mã môn học",
                width:350
            },{
                prop:"name",
                label:"Tên môn học",
                width:250
            }],
            colsPart:[{
                prop:"code",
                label:"Mã thành phần",
                width:150
            },{
                prop:"name",
                label:"Tên thành phần",
                width:500
            }],
            isOpenBox: false,
            isOpenBox2: false,
            timeOutFilter: null,
            isAdd: false,
            isAdd2: false,
            subject: {
                id:0,
                code:"",
                name:"",
                subjectFinal: 1
            },
            subjectPart: {
                id:0,
                code:"",
                name:"",
            },
            tableDataSubjectPart:[],
            nameButton:"",
            nameButton2:"",
            title:"",
        };
    },

    methods:{
        async editRow(index , row){
            this.isOpenBox = true;
            this.nameButton = "Cập nhật";
            this.subject = await this.$RestFul.get("/api/subject/getSubject/"+row.id);
            this.title = "Thông tin chi tiết";
            this.isAdd = false;
            await this.getAllSubjectPart(row.id);
            this.isAdd2 = false;
            this.isOpenBox2 = false;
        },
        async editRowPart(index , row){
            this.isOpenBox2 = true;
            this.nameButton2 = "Cập nhật";
            this.subjectPart = await this.$RestFul.get("/api/subject/getSubjectPart/"+row.id);
            this.isAdd2 = false;
        },
        async openAddBox(){
            this.isAdd = true;
            this.isOpenBox = true;
            this.subject = {
                id: 0,
                code: "",
                name:""
            }
            this.subject.code = await this.$RestFul.get("/api/subject/nextSubjectCode");
            this.nameButton = "Thêm";
            this.title = "Thêm môn học";
        },
        async addSubjectPart(){
            this.isAdd2 = true;
            this.isOpenBox2 = true;
            this.subjectPart = {
                id: 0,
                code: "",
                name:"",
                subjectId: this.subject.id
            }
            this.subjectPart.code = await this.$RestFul.get("/api/subject/nextSubjectPartCode");
            this.nameButton2 = "Thêm";
        },
        async getNewCodeSubjectPart(){
            let code = await this.$RestFul.get("/api/subject/nextSubjectPartCode");
            return code;
        },
        async getAllSubject(){
            let data = await this.$RestFul.get("/api/subject/allSubject");
            if(data!=null){
                this.tableData = data;
                this.tableData2 = data;
            }
        },
        async getAllSubjectPart(id){
            let data = await this.$RestFul.get("/api/subject/getAllSubjectPart/"+id);
            if(data!=null){
                this.tableDataSubjectPart = data;
            }
        },
        async saveSubject(){
            let data = null;
            if(this.isAdd){
                data = await this.$RestFul.post("/api/subject/addSubject", this.subject);
            }else{
                data = await this.$RestFul.put("/api/subject/updateSubject", this.subject);
            }
            let flag = false;
            if(data != null){
                if(this.isAdd){
                    if(data.status > 0){
                        this.$message({
                        message:"Thêm thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Thêm thất bại');
                    }
                    this.openAddBox();
                }else{
                    if(data.status > 0){
                        this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Cập nhật thông tin thất bại');
                    }
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            if(flag){
                await this.getAllSubject();
            }
        },

        async saveSubjectPart(){
            let data = null;
            if(this.isAdd2){
                data = await this.$RestFul.post("/api/subject/addSubjectPart", this.subjectPart);
            }else{
                data = await this.$RestFul.put("/api/subject/updateSubjectPart", this.subjectPart);
            }
            let flag = false;
            if(data != null){
                if(this.isAdd2){
                    if(data.status > 0){
                        this.$message({
                        message:"Thêm thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Thêm thất bại');
                    }
                    this.addSubjectPart();
                }else{
                    if(data.status > 0){
                        this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Cập nhật thông tin thất bại');
                    }
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            if(flag){
                await this.getAllSubjectPart(this.subject.id);
            }
        },

        debounceInput() {
            if(this.timeOutFilter != null){
                clearTimeout(this.timeOutFilter);
            }
            let v = this;
            this.timeOutFilter = setTimeout(function(){
                v.filter();
            },500);
        },
        filter(){
            if(this.contentSearch.trim() != ""){
                let search = this.contentSearch.trim();
                let data = [];
                this.tableData2.forEach(el => {
                    if(el.code.toUpperCase().indexOf(search.toUpperCase())>=0 || el.name.toUpperCase().indexOf(search.toUpperCase())>=0){
                        data.push(el);
                    }
                });
                this.tableData = data;
                clearTimeout(this.timeOutFilter);
            }else{
                this.tableData = this.tableData2;
                clearTimeout(this.timeOutFilter);
            }
        }
    },

    created(){
        this.getAllSubject();
    }
}
</script>