<template>
    <div class="header">
        <div class="header-left">
            <div class="logo"></div>
            <div class="header-title">WOWSCHOOL</div>
        </div>
        <div class="header-right">
            <img v-bind:src="imageAvatar" class="avatar" />
            <div class="username">
                <el-dropdown trigger="click">
                    <span class="el-dropdown-link">
                        {{fullname}}<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-user" class="text-drop" @click.native="viewInfo">Thông tin cá nhân</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-key" class="text-drop" @click.native="isChangePass = true">Đổi mật khẩu</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-switch-button" class="text-drop" @click.native="logout">Đăng xuất</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>

        <div v-show="isChangePass" class="forgetPass">
            <div class="row">
                <el-button icon="el-icon-close" circle style="margin-left: 50px; margin-top: 50px" @click.native="isChangePass = false"></el-button>
            </div>
            <div class="formForget">
                <el-form v-model="formNewPassword" label-position="left" label-width="120px">
                    <el-form-item label="Mật khẩu mới">
                        <el-input placeholder="Nhập mật khẩu mới" v-model="formNewPassword.newPassword" show-password></el-input>
                    </el-form-item>
                    <el-form-item label="Nhập lại">
                        <el-input placeholder="Nhập lại mật khẩu mới" v-model="formNewPassword.repeatNewPassword" show-password></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click.native="changePassword">Đổi mật khẩu</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>



<script>
export default {
    data(){
        return {
            fullname: this.$InfoSystem.user.fullName,
            username: this.$InfoSystem.user.username,
            idUser: this.$InfoSystem.user.idUser,
            avatar: this.$InfoSystem.user.avatar,
            gender: this.$InfoSystem.user.gender,
            formNewPassword:{
                newPassword:"",
                repeatNewPassword:""
            },
            usertype: this.$InfoSystem.user.type,
            isChangePass: false
        }
    },

    methods:{
        viewInfo(){
            this.$router.push("/info");
        },
        async logout(){
            let packet = {
                id: this.idUser,
                type: this.usertype
            }
            let data = await this.$RestFul.post("/api/sign/logout", packet);
            if(data != null){
                if(data.status == 1){
                    this.$router.push("/login");
                }
            }
        },

        async changePassword(){
            if(this.formNewPassword.newPassword.trim() == ""){
              this.$message({
                  message:"Mật khẩu không được để trống!",
                  type:"warning"
              });
              return;
          }
          if(this.formNewPassword.newPassword != this.formNewPassword.repeatNewPassword){
              this.$message({
                  message:"Nhác lại mật khẩu không chính xác!",
                  type:"warning"
              });
              return;
          }
          let packet = {
              code: this.username,
              password: this.formNewPassword.newPassword
          };

            let data = await this.$RestFul.post("/api/sign/changePassword", packet);
            if(data != null){
                if(data.status == 1){
                    this.$message({
                        message:"Đổi mật khẩu thành công!",
                        type:"success"
                    });
                    this.isChangePass = false;
                }
            }
        },
    },
    computed:{
        imageAvatar(){
            if(this.avatar == null || this.avatar == ""){
                if(this.gender > 1){
                    this.avatar =  this.$InfoSystem.avatar_nu;
                }else{
                    this.avatar = this.$InfoSystem.avatar_nam;
                }
            }else{
                this.avatar = this.$RestFul.baseURL+this.avatar
            }
            return this.avatar;
        }
    }
}
</script>

<style scoped>
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
    font-size: 16px;
  }
  .el-icon-arrow-down {
    font-size: 14px;
  }

  .text-drop{
      font-size: 14px;
  }

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.header-left{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    margin-left: 100px;
    margin-right: 20px;
    background-image: url('../../assets/images/common/logo.png');
    background-size: 60px 60px;
    background-color: inherit;
}
.avatar{
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}
.header-title{
    font-size: 24px;
}
.username{
    margin-right: 100px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: left;
}

.forgetPass{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    opacity: 80%;
    z-index: 1;
}

.formForget{
    position: absolute;
    top: 100px;
    left: calc(50vw - 250px);
    width: 500px;
    height: auto;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
    padding: 20px;
}
</style>