

<template>
    <div style="width: calc(100% - 20px); background-color: #CCCCCC; padding:20px">
        <el-row>
            <b>Câu {{ st }}</b>
        </el-row>
        <div v-if="obj.content" v-html="obj.content" class="content">
            
        </div>
        <img :src="base+obj.image" class="image" v-if="obj.image"/>
        <div class="answer">
            <div class="answer-item">
                <div class="answer-item-label">
                    <el-radio v-model="re" :label="0" @change="updateResult">
                        <span>A. </span>
                    </el-radio>
                </div>
                <div v-html="obj.ans1" class="answer-item-content">
                    
                </div>
            </div>
            <div class="answer-item">
                <div class="answer-item-label">
                    <el-radio v-model="re" :label="1" @change="updateResult">
                        <span>B. </span>
                    </el-radio>
                </div>
                <div v-html="obj.ans2" class="answer-item-content">
                    
                </div>
            </div>

            <div class="answer-item">
                <div class="answer-item-label">
                    <el-radio v-model="re" :label="2" @change="updateResult">
                        <span>C. </span>
                    </el-radio>
                </div>
                <div v-html="obj.ans3" class="answer-item-content">
                    
                </div>
            </div>

            <div class="answer-item">
                <div class="answer-item-label">
                    <el-radio v-model="re" :label="3" @change="updateResult">
                        <span>D. </span>
                    </el-radio>
                </div>
                <div v-html="obj.ans4" class="answer-item-content">
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:["question","stt", "result"],
    data(){
        return{
            obj:this.question,
            st: this.stt,
            re: this.result,
            base: this.$RestFul.baseURL,
        }
    },
    methods:{
        updateResult(){
            this.$emit("updateResult", this.stt-1,this.re);
        }
    },
    watch:{
        question(){
            this.obj = this.question;
        }
    }
}
</script>

<style scoped>
.content{
    width: calc(100% - 60px);
    background-color: white;
    border: 1px transparent;
    border-radius: 5px;
    margin-top:15px;
    margin-bottom: 15px;
    padding: 30px;
}
.image{
    width: 100%;
    max-width: 700px;
    max-height: 450px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.answer{
    width:100%;
}
.answer-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px;
}
.answer-item-label{
    width: 40px;
    margin-right: 15px;
}
.answer-item-content{
    max-width: calc(100% - 60px);
}
</style>