<template>
    <div>
        <el-upload
            class="avatar-uploader"
            :action="url+idQuestion"
            :show-file-list="false"
            :on-success="handleImageSuccess"
            :before-upload="beforeImageUpload">
            <img v-if="getImageUrl" :src="getImageUrl" class="avatar">
            <!-- <img v-if="imageUrl" :src="imageUrl" class="avatar">-->
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
    </div>
</template>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>

<script>
  export default {
    props: ['imageQuestion','idQuestion'],
    data() {
      return {
        url:'http://localhost:8000/api/others/changeImageQuestion/',
        imageUrl: this.imageQuestion,
      };
    },
    methods: {
      handleImageSuccess(res, file) {
        //this.imageUrl = URL.createObjectURL(file.raw);
        let data = file.response;
        if(data.status == 1){
          this.imageUrl = file.response.link;
          this.imageQuestion = file.response.link;
          this.$message({
            message:"Cập nhật image thành công",
            type:"success"
          });
          this.$emit("updateImageQuestion", file.response.link);
        }else{
          this.$message.error("Cập nhật thất bại!");
        }
      },
      beforeImageUpload(file) {
        const isJPG = file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png';
        const isLt5M = file.size / 1024 / 1024 < 5;

        if (!isJPG) {
          this.$message.error('Picture must be JPG or PNG format!');
        }
        if (!isLt5M) {
          this.$message.error('Picture size can not exceed 5MB!');
        }
        return isJPG && isLt5M;
      }
    },
    computed:{
      getImageUrl(){
        if(this.imageUrl != null & this.imageUrl != ""){
          let url = this.$RestFul.baseURL + this.imageUrl;
          return url;
        }else return null;
      }
    },
    watch:{
      imageQuestion(){
        this.imageUrl = this.imageQuestion;
      }
    }
  }
</script>