<template>
    <div>
        <el-row>
            <el-select v-model="semId" placeholder="Select" @change="getMark">
                <el-option label="Chọn kỳ học" :value="-1"></el-option>
                <el-option
                    v-for="(sub,index) in sems"
                    :key="'AA' + index"
                    :value="sub.id"
                    :label="sub.code+' - '+sub.name+ ' - '+sub.year">
                    </el-option>
            </el-select>
        </el-row>
        <el-row>
            <el-table
                :data="getData"
                style="width: 100%">
                <el-table-column
                    prop="sub"
                    label="Môn"
                    width="150"
                >
                </el-table-column>
                <el-table-column label="Điểm miệng">
                    <el-table-column prop="HS10" width="80"></el-table-column>
                    <el-table-column prop="HS11" width="80"></el-table-column>
                    <el-table-column prop="HS12" width="80"></el-table-column>
                    <el-table-column prop="HS13" width="80"></el-table-column>
                    <el-table-column prop="HS14" width="80"></el-table-column>
                </el-table-column>
                <el-table-column label="Điểm 15'">
                    <el-table-column prop="HS15" width="80"></el-table-column>
                    <el-table-column prop="HS16" width="80"></el-table-column>
                    <el-table-column prop="HS17" width="80"></el-table-column>
                    <el-table-column prop="HS18" width="80"></el-table-column>
                    <el-table-column prop="HS19" width="80"></el-table-column>
                </el-table-column>
                <el-table-column label="Điểm HS2">
                    <el-table-column prop="HS20" width="80"></el-table-column>
                    <el-table-column prop="HS21" width="80"></el-table-column>
                    <el-table-column prop="HS22" width="80"></el-table-column>
                    <el-table-column prop="HS23" width="80"></el-table-column>
                </el-table-column>
                <el-table-column label="Điểm HS3" prop="HS3" width="120"></el-table-column>
                <el-table-column label="Điểm tổng kết" prop="TK" width="150" style="font-weight: bold">
                    <template slot-scope="scope">
                        <b>{{ scope.row.TK }}</b>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
    </div>
</template>
<script>
export default {
    data(){
        return {
            tableData:null,
            semId:-1,
            subjects:{},
            sems:[]
        }
    },

    methods:{
        async getMark(){
            if(this.semId > 0){
                let data = await this.$RestFul.get("/api/students/getTableMark/"+localStorage.getItem("idUser")+"/"+this.semId);
                if(data!=null){
                    if(data[0][0] == -2){
                        this.tableData = null;
                    }else{
                        this.tableData = data;
                    }
                }
            }else{
                this.tableData = null;
            }
        },

        async getAllSubject(){
            let data = await this.$RestFul.get("/api/subject/allSubject");
            if(data!=null){
                this.subjects={};
                data.forEach(el => {
                    this.subjects[el.id] = el;
                });
            }
        },

        async getAllSemester(){
            let api = "/api/semesters/allSemester";
            let data = await this.$RestFul.get(api);
            if(data!= null){
                this.sems = data;
            }
        },
    },
    computed:{
        getData(){
            let data = [];
            if(this.tableData != null){
                let v = this;
                this.tableData.forEach(line => {
                    let obj = {};
                    if(line[0] != -1){
                        obj['sub'] = v.subjects[parseInt(line[0])].name;
                    }else{
                        obj['sub'] = "Trung bình";
                    }
                    for(let i = 1;i<11;i++){
                        if(line[i] != -1){
                            obj['HS1'+(i-1)] = line[i];
                        }else{
                            obj['HS1'+(i-1)] = "";
                        }
                    }
                    let j = 0;
                    for(let i = 11;i<15;i++){
                        if(line[i] != -1){
                            obj['HS2'+j] = line[i];
                        }else{
                            obj['HS2'+j] = "";
                        }
                        j++
                    }
                    if(line[15] != -1){
                        obj['HS3'] = line[15];
                    }else{
                        obj['HS3'] = "";
                    }
                    if(line[16] != -1){
                        obj['TK'] = line[16];
                    }else{
                        obj['TK'] = "";
                    }
                    data.push(obj);
                });
            }
            return data;
        }
    },
    created(){
        this.getAllSubject();
        this.getAllSemester();
    }
}
</script>