<template>
    <el-container>
            <el-header>
                <Header></Header>
            </el-header>
            <el-main>
                <el-row style="margin-top:20px" type="flex" justify="center">
                  <el-col :span="22">
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                      <el-menu-item index="1">Thời khóa biểu</el-menu-item>
                      <el-menu-item index="2">Lớp</el-menu-item>
                      <el-menu-item index="3">Điểm</el-menu-item>
                      <el-menu-item index="4">Đề thi</el-menu-item>
                      <el-menu-item index="5">Lịch sử thi</el-menu-item>
                    </el-menu>

                    <div style="margin-top: 20px">
                      <router-view name="MStudentTKB"></router-view>
                      <router-view name="MStudentClass"></router-view>
                      <router-view name="MMark"></router-view>
                      <router-view name="MStudentExam"></router-view>
                      <router-view name="MStudentHistory"></router-view>
                    </div>
                  </el-col>
                </el-row>
            </el-main>
            <el-footer>

            </el-footer>
        </el-container>
</template>

<script>
import Header from '@/components/common/Header'
export default {
    components:{
        Header: Header,
    },
    data(){
        return {
          activeIndex:'1',
        };
    },

    methods:{
      handleSelect(key, keyPath) {
        if(key == "1"){
          this.$router.push('/student/mstudenttkb');
        }else if(key == "2"){
          this.$router.push('/student/mstudentclass');
        }else if(key == "3"){
          this.$router.push('/student/mmymark');
        }else if(key == "4"){
          this.$router.push('/student/mstudentexam');
        }else if(key == "5"){
          this.$router.push('/student/mstudenthistory');
        }
      },
      async checkExam(){
        let data = await this.$RestFul.get("/api/exams/checkInExam/"+this.$InfoSystem.user.idUser);
        if(data!=null){
          if(data.status == true){
            this.$router.push("/exam");
          }
        }
      }
    },

    beforeRouteEnter(to, from, next){
      localStorage.setItem("linkAdmin",to.fullPath);
      next();
    },

    created(){
      let link = localStorage.getItem("linkAdmin");
      if(link != null){
        if(link == "/student/mstudenttkb"){
          this.activeIndex= '1';
        }else if(link == "/student/mstudentclass"){
          this.activeIndex= '2';
        }else if(link == "/student/mmymark"){
          this.activeIndex= '3';
        }else if(link == "/student/mstudentexam"){
          this.activeIndex= '4';
        }else if(link == "/student/mstudenthistory"){
          this.activeIndex= '5';
        }
      }
      this.checkExam();
    },

    async beforeCreate(){
    if(this.$InfoSystem.user == null){
      if(localStorage.getItem("idUser") == null){
        this.$router.push('/login');
      }else{
        this.$InfoSystem.user = {
            idUser: localStorage.getItem("idUser") * 1,
            username: localStorage.getItem("username"),
            fullName: localStorage.getItem("fullName"),
            type: localStorage.getItem("type") * 1,
            status: localStorage.getItem("status") * 1,
            token: localStorage.getItem("token"),
            avatar: localStorage.getItem('avatar'),
            gender: localStorage.getItem("gender") * 1
        }
      }
    }
    let packet = {
      id: this.$InfoSystem.user.idUser,
      token: this.$InfoSystem.user.token,
      type: 1
    }

    let data = await this.$RestFul.post('/api/sign/checkLogin', packet);
    if(data != null){
      if(data.status == 0){
        this.$router.push('/login');
      }
    }
  }
}
</script>