<template>
    <div>
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <STable
                            :tableData="classes"
                            :cols="colTs"
                            :colfixeds="colfTs"
                            :hasDelete="false"
                            :hasEdit="true"
                            @editRow="editClassRow"
                            nameButtionEdit="DS Học sinh"
                        ></STable>
                    </el-col>
                    <el-col :span="11">
                        <STable
                            :tableData="students"
                            :cols="colSs"
                            :colfixeds="colfSs"
                            :hasDelete="false"
                            :hasEdit="true"
                            @editRow="editStudentRow"
                            nameButtionEdit="Nhập điểm"
                        ></STable>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>

        <el-drawer
            v-if="isOpen"
            :title="title"
            :visible.sync="isOpen"
            size="60%">
            <div>
                <el-row type="flex" justify="center">
                    <el-col :span="22">
                        <el-row>
                            <el-select v-model="subjectId" placeholder="Select" @change="calMarkSubject">
                                <el-option label="Chọn môn" :value="-1"></el-option>
                                <el-option
                                    v-for="(sub,index) in subjects"
                                    :key="'AA' + index"
                                    :value="sub.id"
                                    :label="sub.name">
                                    </el-option>
                            </el-select>
                        </el-row>
                        <el-form v-if="subjectId>0" :model="objectMarkTable" label-position="left" label-width="100px" style="margin-top:20px">
                            <el-form-item label="Điểm miệng">
                                <el-row type="flex" justify="space-between">
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS10" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS11" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS12" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS13" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS14" style="width: 100%"></el-input>
                                    </el-col>
                                </el-row>
                            </el-form-item>
                            <el-form-item label="Điểm 15'">
                                <el-row type="flex" justify="space-between">
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS15" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS16" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS17" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS18" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS1.HS19" style="width: 100%"></el-input>
                                    </el-col>
                                </el-row>
                            </el-form-item>
                            <el-form-item label="Điểm HS2'">
                                <el-row type="flex" justify="start" :gutter="20">
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS2.HS20" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS2.HS21" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS2.HS22" style="width: 100%"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS2.HS23" style="width: 100%"></el-input>
                                    </el-col>
                                </el-row>
                            </el-form-item>
                            <el-form-item label="Điểm HS3'">
                                <el-row type="flex" justify="start" :gutter="20">
                                    <el-col :span="4">
                                        <el-input type="number" :min="-1" :max="10" v-model="objectMarkTable.HS3" style="width: 100%"></el-input>
                                    </el-col>
                                </el-row>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="saveTableMark">Lưu</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
            </div>
        </el-drawer>
    </div>
</template>

<script>
import STable from '@/components/common/Table'
export default {
    components:{
        STable:STable,
    },
    data(){
        return {
            subjectId:-1,
            title:"",
            classes:[],
            students:[],
            markTable:null,
            objectMarkTable:{
                HS1:{
                    HS10:-1,
                    HS11:-1,
                    HS12:-1,
                    HS13:-1,
                    HS14:-1,
                    HS15:-1,
                    HS16:-1,
                    HS17:-1,
                    HS18:-1,
                    HS19:-1,
                },
                HS2:{
                    HS20:-1,
                    HS21:-1,
                    HS22:-1,
                    HS23:-1,
                },
                HS3:-1
            },
            cls:{},
            student:{},
            subjects:[],
            isOpen: false,
            colfTs:[],
            colfSs:[],
            colTs:[{
                prop:"code",
                label:"Mã lớp",
                width: 120
            },{
                prop:"name",
                label:"Tên lớp",
                width: 120
            },{
                prop:"grade",
                label:"Khối",
                width: 100
            },{
                prop:"teacherMainName",
                label:"Chủ nhiệm",
                width: 200
            }],
            colSs:[{
                prop:"code",
                label:"Mã học sinh",
                width:120
            },{
                prop:"name",
                label:"Tên học sinh",
                width:240
            }],

        };
    },

    methods:{
        editClassRow(index, row){
            this.cls = row;
            this.getAllStudentByClass(this.cls.id);
        },
        editStudentRow(index, row){
            this.student = row;
            this.getAllSubject(localStorage.getItem("idUser"),this.cls.id);
            this.getTableMark(this.student.id);
            this.title = "Nhập điểm - Học sinh: "+this.student.code + " - "+this.student.name;
            this.isOpen = true;
            this.subjectId = -1;
        },

        calMarkSubject(){
            if(this.subjectId != -1){
                let v = this;
                this.markTable.forEach(markSub => {
                    if(markSub[0] == v.subjectId){
                        for(let i = 1;i<11;i++){
                            v.objectMarkTable.HS1["HS1"+(i-1)] = markSub[i];
                        }
                        let j = 0;
                        for(let i = 11;i<15;i++){
                            v.objectMarkTable.HS2["HS2"+j] = markSub[i];
                            j++;
                        }
                        v.objectMarkTable.HS3 = markSub[15];
                    }
                });
            }
        },

        async getAllClassTeach(){
            let data = await this.$RestFul.get("/api/teachers/getClassTeach/"+localStorage.getItem("idUser"));
            if(data!=null){
                this.classes = data;
            }
        },

        async getAllStudentByClass(id){
            let data = await this.$RestFul.get("/api/students/allStudent/"+id);
            if(data!=null){
                this.students = data;
            }
        },

        async getAllSubject(id,idClas){
            let data = await this.$RestFul.get("/api/teachers/getSubjectWithClassTeach/"+id+"/"+idClas);
            if(data!=null){
                this.subjects = data;
                console.log(this.subjects);
            }
        },

        async getTableMark(id){
            let data = await this.$RestFul.get("/api/students/getTableMark/"+id+"/0");
            if(data!=null){
                this.markTable = data;
            }
        },

        async saveTableMark(){
            if(this.subjectId != -1){
                let v = this;
                this.markTable.forEach(markSub => {
                    if(markSub[0] == v.subjectId){
                        for(let i = 1;i<11;i++){
                             let va = v.objectMarkTable.HS1["HS1"+(i-1)];
                             if(va < 0){
                                 va = -1;
                             }
                             markSub[i] = va;
                        }
                        let j = 0;
                        for(let i = 11;i<15;i++){
                            let va = v.objectMarkTable.HS2["HS2"+j];
                            if(va < 0){
                                va = -1;
                            }
                            markSub[i] = va;
                            j++;
                        }
                        let va = v.objectMarkTable.HS3;
                        if(va < 0){
                            va = -1;
                        }
                        markSub[15] = va;
                    }
                });
            }

            let obj = {
                id: this.student.id,
                tableMark: JSON.stringify(this.markTable)
            }

            let data = await this.$RestFul.put("/api/students/updateTableMark", obj);
            if(data != null){
                if(data.status > 0){
                    this.$message({
                    message:"Thêm thành công",
                    type:'success'
                    });
                }else{
                    this.$message.error('Thêm thất bại');
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
        }
    },

    created(){
        this.getAllClassTeach();
    }
}
</script>