<template>
    <div>
        <el-row type="flex" justify="center">
            <el-col :span="22">
                <STable
                    :tableData="tableData"
                    :cols="cols"
                    :colfixeds="colfixeds"
                    :hasDelete="false"
                    :hasEdit="false"
                ></STable>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import STable from '@/components/common/Table'
export default {
    components:{
        STable:STable,
    },
    data(){
        return {
            classes:{},
            subjects:{},
            tableData:[],
            teacher:null,
            colfixeds:[],
            cols:[{
                prop:"T",
                label:"",
                width:80
            },{
                prop:"D0",
                label:"Thứ Hai",
                width:200
            },{
                prop:"D1",
                label:"Thứ Ba",
                width:200
            },{
                prop:"D2",
                label:"Thứ Tư",
                width:200
            },{
                prop:"D3",
                label:"Thứ Năm",
                width:200
            },{
                prop:"D4",
                label:"Thứ Sáu",
                width:200
            },{
                prop:"D5",
                label:"Thứ Bảy",
                width:200
            }],
        }
    },
    
    methods:{
        async getAllSubject(){
            let data = await this.$RestFul.get("/api/subject/allSubject");
            if(data!=null){
                this.subjects={};
                data.forEach(el => {
                    this.subjects[el.id] = el;
                });
            }
        },
        
        async getAllClassInSem(){
            let data = await this.$RestFul.get("/api/classes/allClassInSem");
            if(data!=null){
                this.classes={};
                data.forEach(el => {
                    this.classes[el.id] = el;
                });
            }
        },

        async getTeacher(){
            let data = await this.$RestFul.get("/api/teachers/getbyid/"+localStorage.getItem("idUser") * 1);
            if(data!=null){
                this.teacher = data;
            }
        },

        async getDataTKB(){
            await this.getAllSubject();
            await this.getAllClassInSem();
            await this.getTeacher();
            let tkb = JSON.parse(this.teacher.teacherTimeTable);
            let data = [];
            let i = 0;
            let value = "";
            for(i = 0;i<10;i++){
                let obj = {};
                if(tkb[0][2*i] != -1){
                    value = this.subjects[tkb[0][2*i]].name;
                    if(tkb[0][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[0][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D0'] = value;
                
                if(tkb[1][2*i] != -1){
                    value = this.subjects[tkb[1][2*i]].name;
                    if(tkb[1][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[1][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D1'] = value;

                if(tkb[2][2*i] != -1){
                    value = this.subjects[tkb[2][2*i]].name;
                    if(tkb[2][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[2][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D2'] = value;

                if(tkb[3][2*i] != -1){
                    value = this.subjects[tkb[3][2*i]].name;
                    if(tkb[3][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[3][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D3'] = value;

                if(tkb[4][2*i] != -1){
                    value = this.subjects[tkb[4][2*i]].name;
                    if(tkb[4][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[4][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D4'] = value;

                if(tkb[5][2*i] != -1){
                    value = this.subjects[tkb[5][2*i]].name;
                    if(tkb[5][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[5][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D5'] = value;
                
                obj['T'] = "Tiết "+(i+1);
                data.push(obj);
            }
            this.tableData = data;
        }
    },

    async created(){
        this.getDataTKB();
    },

    computed:{
        async getDataTKBComputed(){
            await this.getAllSubject();
            await this.getAllClassInSem();
            await this.getTeacher();
            let tkb = JSON.parse(this.teacher.teacherTimeTable);
            let data = [];
            let i = 0;
            let value = "";
            for(i = 0;i<10;i++){
                let obj = {};
                if(tkb[0][2*i] != -1){
                    value = this.subjects[tkb[0][2*i]].name;
                    if(tkb[0][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[0][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D0'] = value;
                
                if(tkb[1][2*i] != -1){
                    value = this.subjects[tkb[1][2*i]].name;
                    if(tkb[1][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[1][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D1'] = value;

                if(tkb[2][2*i] != -1){
                    value = this.subjects[tkb[2][2*i]].name;
                    if(tkb[2][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[2][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D2'] = value;

                if(tkb[3][2*i] != -1){
                    value = this.subjects[tkb[3][2*i]].name;
                    if(tkb[3][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[3][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D3'] = value;

                if(tkb[4][2*i] != -1){
                    value = this.subjects[tkb[4][2*i]].name;
                    if(tkb[4][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[4][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D4'] = value;

                if(tkb[5][2*i] != -1){
                    value = this.subjects[tkb[5][2*i]].name;
                    if(tkb[5][2*i+1] != -1){
                        value += " - "+ this.classes[tkb[5][2*i + 1]].name;
                    }
                }else{
                    value = "";
                }
                obj['D5'] = value;
                
                obj['T'] = "Tiết "+(i+1);
                data.push(obj);
            }
            this.tableData = data;
        }
    }
}
</script>