<template>
    <el-container>
            <el-header>
                <Header></Header>
            </el-header>
            <el-main>
                <el-row style="margin-top:20px" type="flex" justify="center">
                  <el-col :span="22">
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                      <el-menu-item index="1">Thời khóa biểu</el-menu-item>
                      <el-menu-item index="2">Lớp và điểm</el-menu-item>
                      <el-menu-item index="3">Câu hỏi</el-menu-item>
                      <el-menu-item index="4">Đề thi</el-menu-item>
                    </el-menu>

                    <div style="margin-top: 20px">
                      <router-view name="MTeacherTKB"></router-view>
                      <router-view name="MTeacherClass"></router-view>
                      <router-view name="MQuestion"></router-view>
                      <router-view name="MTeacherExam"></router-view>
                    </div>
                  </el-col>
                </el-row>
            </el-main>
            <el-footer>

            </el-footer>
        </el-container>
</template>

<script>
import Header from '@/components/common/Header'
export default {
    components:{
        Header: Header,
    },
    data(){
        return {
          activeIndex:'1',
        };
    },

    methods:{
      handleSelect(key, keyPath) {
        if(key == "1"){
          this.$router.push('/teacher/mteachertkb');
        }else if(key == "2"){
          this.$router.push('/teacher/mteacherclass');
        }else if(key == "3"){
          this.$router.push('/teacher/mquestion');
        }else if(key == "4"){
          this.$router.push('/teacher/mteacherexam');
        }
      }
    },

    beforeRouteEnter(to, from, next){
      localStorage.setItem("linkAdmin",to.fullPath);
      next();
    },

    created(){
      let link = localStorage.getItem("linkAdmin");
      if(link != null){
        if(link == "/teacher/mteachertkb"){
          this.activeIndex= '1';
        }else if(link == "/teacher/mteacherclass"){
          this.activeIndex= '2';
        }else if(link == "/teacher/mquestion"){
          this.activeIndex= '3';
        }else if(link == "/teacher/mteacherexam"){
          this.activeIndex= '4';
        }
      }
    },

    async beforeCreate(){
    if(this.$InfoSystem.user == null){
      if(localStorage.getItem("idUser") == null){
        this.$router.push('/login');
      }else{
        this.$InfoSystem.user = {
            idUser: localStorage.getItem("idUser") * 1,
            username: localStorage.getItem("username"),
            fullName: localStorage.getItem("fullName"),
            type: localStorage.getItem("type") * 1,
            status: localStorage.getItem("status") * 1,
            token: localStorage.getItem("token"),
            avatar: localStorage.getItem('avatar'),
            gender: localStorage.getItem("gender") * 1
        }
      }
    }
    let packet = {
      id: this.$InfoSystem.user.idUser,
      token: this.$InfoSystem.user.token,
      type: 2
    }

    let data = await this.$RestFul.post('/api/sign/checkLogin', packet);
    if(data != null){
      if(data.status == 0){
        this.$router.push('/login');
      }
    }
  }
}
</script>