<template>
    <div>
        <el-container>
            <el-header>
                <Header></Header>
            </el-header>
            <el-main>
                <el-row style="margin-top:20px" type="flex" justify="center">
                  <el-col :span="22">
                    <!-- <el-tabs v-model="activeName">
                        <el-tab-pane label="Quản trị viên" name="admin"><MAdmin></MAdmin></el-tab-pane>
                        <el-tab-pane label="Giáo viên" name="teacher"><MTeacher></MTeacher></el-tab-pane>
                        <el-tab-pane label="Học sinh" name="student"><MStudent></MStudent></el-tab-pane>
                        <el-tab-pane label="Lớp" name="class"><MClass></MClass></el-tab-pane>
                        <el-tab-pane label="Học kỳ" name="semester"><MSemester></MSemester></el-tab-pane>
                        <el-tab-pane label="Môn học" name="subject"><m-subject></m-subject></el-tab-pane>
                        <el-tab-pane label="Phân công" name="phancong"><MPhanCong></MPhanCong></el-tab-pane>
                        <el-tab-pane label="Thời khóa biểu" name="tkb"><MTKB></MTKB></el-tab-pane>
                    </el-tabs> -->
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                      <el-menu-item index="1">Quản trị viên</el-menu-item>
                      <el-menu-item index="2">Giáo viên</el-menu-item>
                      <el-menu-item index="3">Học sinh</el-menu-item>
                      <el-menu-item index="4">Lớp</el-menu-item>
                      <el-menu-item index="5">Học kỳ</el-menu-item>
                      <el-menu-item index="6">Môn học</el-menu-item>
                    </el-menu>

                    <div style="margin-top: 20px">
                      <router-view name="MAdmin"></router-view>
                      <router-view name="MTeacher"></router-view>
                      <router-view name="MStudent"></router-view>
                      <router-view name="MClass"></router-view>
                      <router-view name="MSemester"></router-view>
                      <router-view name="MSubject"></router-view>
                    </div>
                  </el-col>
                </el-row>
            </el-main>
            <el-footer>

            </el-footer>
        </el-container>
    </div>
</template>

<script>
import Header from '@/components/common/Header'
import MAdmin from '@/components/admin/MAdmin'
import MTeacher from '@/components/admin/MTeacher'
import MStudent from '@/components/admin/MStudent'
import MClass from '@/components/admin/MClass'
import MSemester from '@/components/admin/MSemester'
import MSubject from '@/components/admin/MSubject'
import MPhanCong from '@/components/admin/MPhanCong'
import MTKB from '@/components/admin/MTKB'
export default {
    components:{
        Header: Header,
        MAdmin: MAdmin,
        MTeacher: MTeacher,
        MStudent: MStudent,
        MClass: MClass,
        MSemester: MSemester,
        MSubject: MSubject,
        MPhanCong: MPhanCong,
        MTKB: MTKB
    },
    data(){
        return {
            activeName: 'admin',
            activeIndex:'1',
        };
    },

    methods:{
      handleSelect(key, keyPath) {
        if(key == "1"){
          this.$router.push('/admin/madmin');
        }else if(key == "2"){
          this.$router.push('/admin/mteacher');
        }else if(key == "3"){
          this.$router.push('/admin/mstudent');
        }else if(key == "4"){
          this.$router.push('/admin/mclass');
        }else if(key == "5"){
          this.$router.push('/admin/msemester');
        }else if(key == "6"){
          this.$router.push('/admin/msubject');
        }
      }
    },

    beforeRouteEnter(to, from, next){
      localStorage.setItem("linkAdmin",to.fullPath);
      next();
    },

    created(){
      let link = localStorage.getItem("linkAdmin");
      if(link != null){
        if(link == "/admin/madmin"){
          this.activeIndex= '1';
        }else if(link == "/admin/mteacher"){
          this.activeIndex= '2';
        }else if(link == "/admin/mstudent"){
          this.activeIndex= '3';
        }else if(link == "/admin/mclass"){
          this.activeIndex= '4';
        }else if(link == "/admin/msemester"){
          this.activeIndex= '5';
        }else if(link == "/admin/msubject"){
          this.activeIndex= '6';
        }
      }
    },

    async beforeCreate(){
    if(this.$InfoSystem.user == null){
      if(localStorage.getItem("idUser") == null){
        this.$router.push('/login');
      }else{
        this.$InfoSystem.user = {
            idUser: localStorage.getItem("idUser") * 1,
            username: localStorage.getItem("username"),
            fullName: localStorage.getItem("fullName"),
            type: localStorage.getItem("type") * 1,
            status: localStorage.getItem("status") * 1,
            token: localStorage.getItem("token"),
            avatar: localStorage.getItem('avatar'),
            gender: localStorage.getItem("gender") * 1
        }
      }
    }
    let packet = {
      id: this.$InfoSystem.user.idUser,
      token: this.$InfoSystem.user.token,
      type: 3
    }

    let data = await this.$RestFul.post('/api/sign/checkLogin', packet);
    if(data != null){
      if(data.status == 0){
        this.$router.push('/login');
      }
    }
  }
}
</script>

<style scoped>
.a{
  width: 100px;
  height: fit-content;
}
</style>