<template>
    <div>
        <el-row type="flex" justify="space-between">
            <el-col :span="6">
                <el-button type="primary" @click="openAddBox">Thêm</el-button>
            </el-col>
            <el-col :span="6" @filterData="filter">
                <el-input
                    placeholder="TÌm quản trị viên theo mã hoặc tên"
                    prefix-icon="el-icon-search"
                    v-model="contentSearch"
                    v-on:input="debounceInput"
                    >
                </el-input>
            </el-col>
        </el-row>

        <STable
            :tableData="tableData"
            :cols="cols"
            :colfixeds="colfixeds"
            @deleteRow="deleteRow"
            @editRow="editRow"
            :hasDelete="true"
            :hasEdit="true"
        ></STable>

        <el-drawer
            :title="title"
            :visible.sync="isOpenBox"
            size="70%">
            <el-container>
                <el-main style="margin-top: 40px">
                    <el-row type="flex" justify="center">
                    <el-col :span="6" v-if="isAdd == false">
                        <div style="display: flex;justify-content: center;">
                            <UploadAvatar :avatar="getAvatar" :username="item.code" @updateAvatar="updateAvatar"></UploadAvatar>
                        </div>
                    </el-col>
                    <el-col :span="spanSize">
                        <el-form ref="form" :model="item" label-width="150px" label-position="left">
                            <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Mã số">
                                <el-input v-model="item.code" disabled></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Họ và tên">
                                <el-input v-model="item.name"></el-input>
                                </el-form-item>
                            </el-col>
                            </el-row>

                            <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Ngày sinh">
                                <el-date-picker type="date" v-model="item.birth" style="width:100%"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Giới tính">
                                <el-select v-model="item.gender" style="width:100%">
                                    <el-option label="Nam" :value="1"></el-option>
                                    <el-option label="Nữ" :value="2"></el-option>
                                </el-select>
                                </el-form-item>
                            </el-col>
                            </el-row>

                            <el-form-item label="Địa chỉ">
                            <el-input v-model="item.address"></el-input>
                            </el-form-item>

                            <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Số CMND/Căn cước">
                                <el-input v-model="item.identify"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Ngày cấp">
                                <el-date-picker type="date" v-model="item.identifyDate"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            </el-row>
                            <el-form-item label="Nơi cấp">
                            <el-input v-model="item.identifyAddress"></el-input>
                            </el-form-item>

                            <el-form-item label="Số điện thoại">
                            <el-input v-model="item.phone"></el-input>
                            </el-form-item>

                            <el-form-item label="Email">
                            <el-input v-model="item.email"></el-input>
                            </el-form-item>
                            
                            <el-divider></el-divider>

                            <el-form-item>
                            <div>
                                <el-button type="primary" @click="updateInfo">{{nameButton}}</el-button>
                            </div>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    </el-row>
                </el-main>
                <el-footer>

                </el-footer>
            </el-container>
        </el-drawer>
        <el-dialog
            title="Xác nhận xóa"
            :visible.sync="centerDialogVisible"
            width="30%"
            center>
            <span>Bạn có chắc muốn xóa {{ adminDeleteCode }} - {{ aadminDeleteName }}</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="centerDialogVisible = false">Hủy</el-button>
                <el-button type="primary" @click="confirmDeleteAdmin">Xóa</el-button>
            </span>
            </el-dialog>
    </div>
</template>

<style scoped>

</style>

<script>
import STable from '@/components/common/Table'
import UploadAvatarInPage from '@/components/common/UploadAvatarInPage'
export default {
    components:{
        STable:STable,
        UploadAvatar: UploadAvatarInPage
    },
    data(){
        return {
            timeOutFilter:null,
            spanSize:14,
            nameButton:"",
            title:"",
            isOpenBox:false,
            isAdd:false,
            tableData: [],
            tableData2:[],
            item:{},
            contentSearch: "",
            colfixeds:[
                {
                    prop:'code',
                    label:'Mã số',
                    width:100,
                },{
                    prop:'name',
                    label:'Họ và tên',
                    width:250,
                },
            ],
            cols:[
            {
                prop:'birthday',
                label:'Ngày sinh',
                width:120,
            },{
                prop:'gender',
                label:'Giới tính',
                width:100,
            },{
                prop:'address',
                label:'Địa chỉ',
                width:250,
            },{
                prop:'identify',
                label:'Số CMND/CC',
                width:150,
            },{
                prop:'phone',
                label:'Số điện thoại',
                width:120,
            },{
                prop:'email',
                label:'Email',
                width:300,
            }],
            adminDeleteCode:"",
            aadminDeleteName:"",
            centerDialogVisible: false
        };
    },
    methods:{
        deleteRow(index, row){
            this.item = row;
            this.adminDeleteCode = row.code;
            this.aadminDeleteName = row.name;
            this.centerDialogVisible = true;
        },
        async editRow(index, row){
            this.item = await this.$RestFul.get("/api/admins/getbyid/"+row.id);
            this.isAdd = false;
            this.isOpenBox = true;
            this.title = "Thông tin quản trị viên: "+row.code+ " - "+row.name;
            // this.item.gender = row.gender;
            this.nameButton = "Cập nhật";
            this.spanSize = 14;
        },
        async openAddBox(){
            let code = await this.$RestFul.get('/api/admins/nextCode');
            this.title = "Thêm quản trị viên";
            this.nameButton = "Thêm";
            this.item = {
                id:0,
                code: code,
                name:"",
                avatar:"",
                gender:"",
                birth: new Date(),
                address:"",
                identify:"",
                identifyDate: new Date(),
                identifyAddress:"",
                phone:"",
                email:"",
                status: 1
            }
            this.isAdd = true;
            this.isOpenBox = true;
            this.spanSize = 20;
        },
        async getAllAdmin(){
            let data = await this.$RestFul.get('/api/admins/allAdmin');
            data.forEach(admin => {
                admin.birth = new Date(admin.birth);
                if(admin.gender == 1){
                    admin.gender = "Nam";
                }else{
                    admin.gender = "Nữ";
                }
                admin.identifyDate = new Date(admin.identifyDate);
                let bir = admin.birth.getDate()+"/"+(admin.birth.getMonth()+1)+"/"+admin.birth.getFullYear();
                admin['birthday'] = bir;
            });
            this.tableData = data;
            this.tableData2 = data;
        },
        async updateInfo(){
            this.item.gender = this.item.gender * 1;
            let api = "";
            let data = {};
            if(this.isAdd){
                api = "/api/admins/addAdmin";
                data = await this.$RestFul.post(api,this.item);
            }else{
                api = "/api/admins/updateInfo";
                data = await this.$RestFul.put(api,this.item);
            }
            let flag = false;
            if(data != null){
                if(this.isAdd){
                    if(data.status > 0){
                        this.$message({
                        message:"Thêm thành công",
                        type:'success'
                        });
                        flag = true;
                        this.openAddBox();
                    }else{
                        this.$message.error('Thêm thất bại');
                    }
                }else{
                    if(data.status > 0){
                        this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Cập nhật thông tin thất bại');
                    }
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            if(flag){
                this.getAllAdmin();
            }
        },
        updateAvatar(link){
            this.item.avatar = link;
            if(this.item.code == this.$InfoSystem.user.username){
                if(this.item.id == this.$InfoSystem.user.idUser){
                    this.$InfoSystem.user.avatar = link;
                    localStorage.setItem("avatar",link);
                }
            }
        },
        debounceInput() {
            if(this.timeOutFilter != null){
                clearTimeout(this.timeOutFilter);
            }
            let v = this;
            this.timeOutFilter = setTimeout(function(){
                v.filter();
            },500);
        },
        filter(){
            if(this.contentSearch.trim() != ""){
                let search = this.contentSearch.trim();
                let data = [];
                this.tableData2.forEach(el => {
                    if(el.code.toUpperCase().indexOf(search.toUpperCase())>=0 || el.name.toUpperCase().indexOf(search.toUpperCase())>=0){
                        data.push(el);
                    }
                });
                this.tableData = data;
                clearTimeout(this.timeOutFilter);
            }else{
                this.tableData = this.tableData2;
                clearTimeout(this.timeOutFilter);
            }
        },
        async confirmDeleteAdmin(){
            let data = await this.$RestFul.del("/api/admins/deleteAdmin/"+this.item.id);
            if(data != null){
                if(data.status > 0){
                    this.$message({
                        message:"Xóa thành công",
                        type:'success'
                    });
                    this.getAllAdmin();
                }else{
                    this.$message.error('Xóa thất bại');
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            this.centerDialogVisible = false;
        }
    },
    
    created(){
        this.getAllAdmin();
    },
    computed:{
      getAvatar(){
        let avatar = this.item.avatar;
        if(avatar == null || avatar == ""){
            if(this.item.gender > 1){
                avatar = this.$InfoSystem.avatar_nu;
            }else{
                avatar = this.$InfoSystem.avatar_nam;
            }
        }else{
            avatar = this.$RestFul.baseURL + this.item.avatar;
        }
        return avatar;
      }
    },
}
</script>

<style scoped>
input{
    border-color: gray;
    color: black;
}
</style>