<template>
    <div>
        <el-row type="flex" justify="space-between">
            <el-col :span="6">
                <el-button type="primary" @click="openAddBox">Thêm</el-button>
            </el-col>
            <el-col :span="8">
                <el-row :gutter="20" type="flex" justify="end">
                    <el-col :span="12">
                        <el-select v-model="semid" placeholder="Select" @change="getAllClass" style="width: 100%">
                            <el-option label="Tất cả các kỳ" :value="-1"></el-option>
                            <el-option
                                v-for="(sem,index) in sems"
                                :key="'A' + index"
                                :value="sem.id"
                                :label="sem.code+' - '+sem.name + ' - '+sem.year">
                                </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="12">
                        <el-input
                            placeholder="TÌm lớp theo mã hoặc tên"
                            prefix-icon="el-icon-search"
                            v-model="contentSearch"
                            v-on:input="debounceInput"
                            >
                        </el-input>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>

        <STable
            :tableData="tableData"
            :cols="cols"
            :colfixeds="colfixeds"
            @editRow="editRow"
            :hasDelete="false"
            :hasEdit="true"
        ></STable>

        <el-drawer
            :title="title"
            :visible.sync="isOpenBox"
            size="70%">
            <el-row type="flex" justify="center">
                <el-col :span="22">
                    <el-form :model="item" label-position="left" label-width="120px">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Mã lớp">
                                    <el-input v-model="item.code" disabled></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Tên lớp">
                                    <el-input v-model="item.name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Khối">
                                    <el-input-number v-model="item.grade" :min="10" :max="13" style="width:100%"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Chủ nhiệm">
                                    <el-select v-model="item.teacherMainId" placeholder="" style="width: 100%">
                                        <el-option :value="-1">Chưa có</el-option>
                                        <el-option
                                        v-for="(teacher,index) in teachers"
                                        :key="index"
                                        :label="teacher.code +'-'+ teacher.name"
                                        :value="teacher.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item>
                            <el-button @click="updateInfo" type="primary">{{ nameButton }}</el-button>
                        </el-form-item>
                        <el-form-item v-if="isAdd == false">
                            <el-button @click="addToSemester" type="primary">Thêm vào kỳ học mới nhất</el-button>
                            <el-button @click="openBoxTKB" type="primary">Thời khóa biểu</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </el-drawer>

        <el-drawer
            v-if="isOpenTKB"
            title="Thời khóa biểu"
            :visible.sync="isOpenTKB"
            size="70%">
            <el-row type="flex" justify="center">
                <el-col :span="22">
                    <el-form :model="objectTKB" label-position="left" label-width="0px">
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%"></div>
                            </el-col>
                            <el-col :span="3">
                                <div style="width:100%">Thứ Hai</div>
                            </el-col>
                            <el-col :span="3">
                                <div style="width:100%">Thứ Ba</div>
                            </el-col>
                            <el-col :span="3">
                                <div style="width:100%">Thứ Tư</div>
                            </el-col>
                            <el-col :span="3">
                                <div style="width:100%">Thứ Năm</div>
                            </el-col>
                            <el-col :span="3">
                                <div style="width:100%">Thứ Sáu</div>
                            </el-col>
                            <el-col :span="3">
                                <div style="width:100%">Thứ Bảy</div>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 1</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T0" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'AA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T0" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'AB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T0" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'AC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T0" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'AD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T0" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'AE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T0" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'AF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 2</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T1" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'BA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T1" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'BB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T1" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'BC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T1" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'BD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T1" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'BE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T1" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'BF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 3</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T2" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'CA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T2" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'CB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T2" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'CC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T2" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'CD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T2" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'CE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T2" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'CF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 4</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T3" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'DA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T3" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'DB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T3" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'DC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T3" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'DD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T3" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'DE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T3" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'DF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 5</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T4" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'EA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T4" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'EB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T4" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'EC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T4" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'ED' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T4" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'EE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T4" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'EF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 6</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T5" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'FA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T5" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'FB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T5" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'FC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T5" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'FD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T5" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'FE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T5" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'FF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 7</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T6" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'GA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T6" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'GB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T6" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'GC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T6" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'GD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T6" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'GE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T6" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'GF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 8</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T7" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'HA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T7" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'HB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T7" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'HC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T7" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'HD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T7" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'HE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T7" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'HF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 9</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T8" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'IA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T8" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'IB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T8" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'IC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T8" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'ID' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T8" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'IE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T8" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'IF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="3">
                                <div style="width:100%">Tiết 10</div>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D0.T9" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'KA' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D1.T9" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'KB' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D2.T9" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'KC' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D3.T9" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'KD' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D4.T9" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'KE' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3">
                                <el-form-item>
                                    <el-select v-model="objectTKB.D5.T9" placeholder="Select">
                                        <el-option label="Trống" :value="-1"></el-option>
                                        <el-option
                                            v-for="(sub,index) in subjects"
                                            :key="'KF' + index"
                                            :value="sub.id"
                                            :label="sub.name">
                                            </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item>
                            <el-button @click="updateTBK" type="primary">Lưu</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </el-drawer>
    </div>
</template>

<style scoped>

</style>

<script>
import STable from '@/components/common/Table'
export default {
     components:{
        STable:STable,
    },

    data(){
        return {
            timeOutFilter:null,
            nameButton:"",
            title:"",
            isOpenBox:false,
            isAdd:false,
            tableData: [],
            tableData2:[],
            item:{},
            contentSearch: "",
            semid: -1,
            colfixeds:[
            ],
            cols:[
            {
                prop:'code',
                label:'Mã lớp',
                width:120,
            },{
                prop:'name',
                label:'Tên lớp',
                width:200,
            },{
                prop:'teacherMainName',
                label:'Chủ nhiệm',
                width:250,
            },{
                prop:'grade',
                label:'Khối',
                width:100,
            },{
                prop:'ss',
                label:'Sí số',
                width:100,
            }],
            teachers:[],
            sems:[],
            isOpenTKB: false,
            tkb:null,
            objectTKB:{
                D0:{
                    T0:-1,
                    T1:-1,
                    T2:-1,
                    T3:-1,
                    T4:-1,
                    T5:-1,
                    T6:-1,
                    T7:-1,
                    T8:-1,
                    T9:-1,
                },
                D1:{
                    T0:-1,
                    T1:-1,
                    T2:-1,
                    T3:-1,
                    T4:-1,
                    T5:-1,
                    T6:-1,
                    T7:-1,
                    T8:-1,
                    T9:-1,
                },
                D2:{
                    T0:-1,
                    T1:-1,
                    T2:-1,
                    T3:-1,
                    T4:-1,
                    T5:-1,
                    T6:-1,
                    T7:-1,
                    T8:-1,
                    T9:-1,
                },
                D3:{
                    T0:-1,
                    T1:-1,
                    T2:-1,
                    T3:-1,
                    T4:-1,
                    T5:-1,
                    T6:-1,
                    T7:-1,
                    T8:-1,
                    T9:-1,
                },
                D4:{
                    T0:-1,
                    T1:-1,
                    T2:-1,
                    T3:-1,
                    T4:-1,
                    T5:-1,
                    T6:-1,
                    T7:-1,
                    T8:-1,
                    T9:-1,
                },
                D5:{
                    T0:-1,
                    T1:-1,
                    T2:-1,
                    T3:-1,
                    T4:-1,
                    T5:-1,
                    T6:-1,
                    T7:-1,
                    T8:-1,
                    T9:-1,
                }

            },
            subjects:[]
        };
    },
    methods:{
        openBoxTKB(){
            this.tkb = JSON.parse(this.item.timeTable);
            let i = 0;
            let j = 0;
            for(i=0;i<6;i++){
                for(j=0;j<10;j++){
                    let keyD = 'D'+i;
                    let keyT = 'T'+j;
                    this.objectTKB[keyD][keyT] = this.tkb[i][j];
                }
            }
            console.log(this.objectTKB);
            this.isOpenTKB = true;
        },
        async editRow(index, row){
            this.item = await this.$RestFul.get("/api/classes/getClass/"+row.id);
            this.isAdd = false;
            this.isOpenBox = true;
            this.title = "Thông tin lớp: "+row.code+ " - "+row.name;
            this.nameButton = "Cập nhật";
        },
        async openAddBox(){
            let code = await this.$RestFul.get('/api/classes/newCode');
            this.title = "Thêm lớp";
            this.nameButton = "Thêm";
            this.item = {
                id:0,
                code: code,
                name:"",
                grade:10,
                teacherMainId: -1,
                teacherMainName: ""
            }
            this.isAdd = true;
            this.isOpenBox = true;
        },
        async getAllClass(){
            let api = "/api/classes/allClass";
            if(this.semid > 0){
                api = "/api/classes/allClass/"+this.semid;
            }
            let data = await this.$RestFul.get(api);
            this.tableData = data;
            this.tableData2 = data;
            this.contentSearch = "";
        },

        async getAllTeacher(){
            let data = await this.$RestFul.get("/api/teachers/allTeacher");
            if(data!=null){
                this.teachers = data;
            }
        },

        async getAllSubject(){
            let data = await this.$RestFul.get("/api/subject/allSubject");
            if(data!=null){
                this.subjects = data;
            }
        },

        async getAllSems(){
            let data = await this.$RestFul.get("/api/semesters/allSemester");
            if(data!=null){
                this.sems = data;
            }
        },

        async updateInfo(){
            let api = "";
            let data = {};
            if(this.isAdd){
                api = "/api/classes/addClass";
                data = await this.$RestFul.post(api,this.item);
            }else{
                api = "/api/classes/updateClass";
                data = await this.$RestFul.put(api,this.item);
            }
            let flag = false;
            if(data != null){
                if(this.isAdd){
                    if(data.status > 0){
                        this.$message({
                        message:"Thêm thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Thêm thất bại');
                    }
                    this.openAddBox();
                }else{
                    if(data.status > 0){
                        this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Cập nhật thông tin thất bại');
                    }
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            if(flag){
                this.getAllClass();
            }
        },
        async updateTBK(){
            let api = "";
            let i = 0;
            let j = 0;
            for(i = 0;i<6;i++){
                for(j=0;j<10;j++){
                    let keyD = 'D'+i;
                    let keyT = 'T'+j;
                   this.tkb[i][j] = this.objectTKB[keyD][keyT];
                }
            }
            this.item.timeTable = JSON.stringify(this.tkb);
            let data = {};
            api = "/api/classes/updateClass";
            data = await this.$RestFul.put(api,this.item);
            let flag = false;
            if(data != null){
                if(data.status > 0){
                    this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                    });
                    flag = true;
                }else{
                    this.$message.error('Cập nhật thông tin thất bại');
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
        },
        debounceInput() {
            if(this.timeOutFilter != null){
                clearTimeout(this.timeOutFilter);
            }
            let v = this;
            this.timeOutFilter = setTimeout(function(){
                v.filter();
            },500);
        },
        filter(){
            if(this.contentSearch.trim() != ""){
                let search = this.contentSearch.trim();
                let data = [];
                this.tableData2.forEach(el => {
                    if(el.code.toUpperCase().indexOf(search.toUpperCase())>=0 || el.name.toUpperCase().indexOf(search.toUpperCase())>=0){
                        data.push(el);
                    }
                });
                this.tableData = data;
                clearTimeout(this.timeOutFilter);
            }else{
                this.tableData = this.tableData2;
                clearTimeout(this.timeOutFilter);
            }
        },

        async addToSemester(){
            let api = "/api/semesters/addClassSemester";
            let obj = {
                classId: this.item.id,
                semId:-1
            };
            let data = await this.$RestFul.post(api, obj);
            if(data != null){
                if(data.status > 0){
                    this.$message({
                    message:"Thêm thành công",
                    type:'success'
                    });
                    flag = true;
                }else{
                    this.$message.error(data.mes);
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
        },
    },
    
    created(){
        this.getAllSubject();
        this.getAllClass();
        this.getAllSems();
        this.getAllTeacher();
    },
}
</script>