<template>
    <div>
        <el-row type="flex" justify="space-between">
            <el-col :span="6">
                <el-button type="primary" @click="openAddBox">Thêm</el-button>
            </el-col>
            <el-col :span="6" @filterData="filter">
                <el-input
                    placeholder="TÌm học kỳ theo mã hoặc tên"
                    prefix-icon="el-icon-search"
                    v-model="contentSearch"
                    v-on:input="debounceInput"
                    >
                </el-input>
            </el-col>
        </el-row>

        <STable
            :tableData="tableData"
            :cols="cols"
            :colfixeds="colfixeds"
            @deleteRow="deleteRow"
            @editRow="editRow"
            :hasDelete="true"
            :hasEdit="true"
        ></STable>

        <el-drawer
            :title="title"
            :visible.sync="isOpenBox"
            size="50%">
            <el-row type="flex" justify="center">
                <el-col :span="22">
                    <el-form :model="item" label-position="left" label-width="120px">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Mã học kỳ">
                                    <el-input v-model="item.code" disabled></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Tên học kỳ">
                                    <el-input v-model="item.name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item label="Năm học">
                            <el-input v-model="item.year" style=""></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="updateInfo">{{ nameButton }}</el-button>
                        </el-form-item>
                        <el-form-item v-if="isAdd == false">
                            <el-button type="primary" @click="tongket">Tổng kết điểm</el-button>
                        </el-form-item>
                    </el-form>
                    <!-- <el-divider></el-divider>
                    <el-row v-if="isAdd == false">
                        <div>Thêm lớp vào học kỳ</div>
                    </el-row>
                    <el-form :model="objectAdd" label-position="left" label-width="120px">
                        <el-form-item>
                            
                        </el-form-item>
                    </el-form> -->
                </el-col>
            </el-row>
        </el-drawer>

        <el-dialog
            title="Xác nhận xóa"
            :visible.sync="centerDialogVisible"
            width="30%"
            center>
            <span>Bạn có chắc muốn xóa {{ semDeleteCode }} - {{ semDeleteName }}</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="centerDialogVisible = false">Hủy</el-button>
                <el-button type="primary" @click="confirmDeleteSem">Xóa</el-button>
            </span>
            </el-dialog>
    </div>
</template>

<style scoped>

</style>

<script>
import STable from '@/components/common/Table'
export default {
     components:{
        STable:STable,
    },

    data(){
        return {
            semDeleteCode:"",
            semDeleteName:"",
            centerDialogVisible: false,
            timeOutFilter:null,
            nameButton:"",
            title:"",
            isOpenBox:false,
            isAdd:false,
            tableData: [],
            tableData2:[],
            item:{},
            contentSearch: "",
            semid: -1,
            colfixeds:[
            ],
            cols:[
            {
                prop:'code',
                label:'Mã học kỳ',
                width:120,
            },{
                prop:'name',
                label:'Tên học kỳ',
                width:200,
            },{
                prop:'year',
                label:'năm học',
                width:250,
            }],
            objectAdd:{
                upGrage:false
            },
            teachers:[],
        };
    },
    methods:{
        deleteRow(index, row){
            this.item = row;
            this.semDeleteCode = row.code;
            this.semDeleteName = row.name;
            this.centerDialogVisible = true;
        },
        async confirmDeleteSem(index, row){
            let data = await this.$RestFul.del("/api/semesters/deleteSemester/"+this.item.id);
            if(data != null){
                if(data.status > 0){
                    this.$message({
                        message:"Xóa thành công",
                        type:'success'
                    });
                    this.getAllSemester();
                }else{
                    this.$message.error('Xóa thất bại');
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            this.centerDialogVisible = false;
        },
        async editRow(index, row){
            this.item = await this.$RestFul.get("/api/semesters/getbyid/"+row.id);
            this.isAdd = false;
            this.isOpenBox = true;
            this.title = "Thông tin học kỳ: "+row.code+ " - "+row.name;
            this.nameButton = "Cập nhật";
        },
        async tongket(){
            let data = await this.$RestFul.put("/api/semesters/tongket/"+this.item.id);
            if(data != null){
                if(data.status == 1){
                    this.$message({
                        message:"Hoàn thành tổng kết!",
                        type:'success'
                    });
                }else{
                    this.$message.error('Tổng kết thất bại');
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
        },
        async openAddBox(){
            let code = await this.$RestFul.get('/api/semesters/newCode');
            this.title = "Thêm học kỳ";
            this.nameButton = "Thêm";
            this.item = {
                id:0,
                code: code,
                name:"",
                year:"",
            }
            this.isAdd = true;
            this.isOpenBox = true;
        },
        async getAllSemester(){
            let api = "/api/semesters/allSemester";
            let data = await this.$RestFul.get(api);
            this.tableData = data;
            this.tableData2 = data;
        },

        async updateInfo(){
            let api = "";
            let data = {};
            if(this.isAdd){
                api = "/api/semesters/addSemester";
                data = await this.$RestFul.post(api,this.item);
            }else{
                api = "/api/semesters/updateSemester";
                data = await this.$RestFul.put(api,this.item);
            }
            let flag = false;
            if(data != null){
                if(this.isAdd){
                    if(data.status > 0){
                        this.$message({
                        message:"Thêm thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Thêm thất bại');
                    }
                    this.openAddBox();
                }else{
                    if(data.status > 0){
                        this.$message({
                        message:"Cập nhật thông tin thành công",
                        type:'success'
                        });
                        flag = true;
                    }else{
                        this.$message.error('Cập nhật thông tin thất bại');
                    }
                }
            }else{
                this.$message.error('Kết nối thất bại');
            }
            if(flag){
                this.getAllSemester();
            }
        },
        debounceInput() {
            if(this.timeOutFilter != null){
                clearTimeout(this.timeOutFilter);
            }
            let v = this;
            this.timeOutFilter = setTimeout(function(){
                v.filter();
            },500);
        },
        filter(){
            if(this.contentSearch.trim() != ""){
                let search = this.contentSearch.trim();
                let data = [];
                this.tableData2.forEach(el => {
                    if(el.code.toUpperCase().indexOf(search.toUpperCase())>=0 || el.name.toUpperCase().indexOf(search.toUpperCase())>=0){
                        data.push(el);
                    }
                });
                this.tableData = data;
                clearTimeout(this.timeOutFilter);
            }else{
                this.tableData = this.tableData2;
                clearTimeout(this.timeOutFilter);
            }
        }
    },
    
    created(){
        this.getAllSemester();
    },
}
</script>