<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <li>
        <a
          href="https://vuejs.org"
          target="_blank"
        >
          Core Docs
        </a>
      </li>
      <li>
        <a
          href="https://forum.vuejs.org"
          target="_blank"
        >
          Forum
        </a>
      </li>
      <li>
        <a
          href="https://chat.vuejs.org"
          target="_blank"
        >
          Community Chat
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/vuejs"
          target="_blank"
        >
          Twitter
        </a>
      </li>
      <br>
      <li>
        <a
          href="http://vuejs-templates.github.io/webpack/"
          target="_blank"
        >
          Docs for This Template
        </a>
      </li>
    </ul>
    <h2>Ecosystem</h2>
    <ul>
      <li>
        <a
          href="http://router.vuejs.org/"
          target="_blank"
        >
          vue-router
        </a>
      </li>
      <li>
        <a
          href="http://vuex.vuejs.org/"
          target="_blank"
        >
          vuex
        </a>
      </li>
      <li>
        <a
          href="http://vue-loader.vuejs.org/"
          target="_blank"
        >
          vue-loader
        </a>
      </li>
      <li>
        <a
          href="https://github.com/vuejs/awesome-vue"
          target="_blank"
        >
          awesome-vue
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  async beforeCreate(){
    if(this.$InfoSystem.user == null){
      if(localStorage.getItem("idUser") == null){
        this.$router.push('/login');
      }else{
        this.$InfoSystem.user = {
            idUser: localStorage.getItem("idUser") * 1,
            username: localStorage.getItem("username"),
            fullName: localStorage.getItem("fullName"),
            type: localStorage.getItem("type") * 1,
            status: localStorage.getItem("status") * 1,
            token: localStorage.getItem("token"),
            gender: localStorage.getItem("gender") * 1
        }
      }
    }
    let packet = {
      id: this.$InfoSystem.user.idUser,
      token: this.$InfoSystem.user.token,
      type: this.$InfoSystem.user.type
    }

    let data = await this.$RestFul.post('/api/sign/checkLogin', packet);
    if(data != null){
      if(data.status == 0){
        this.$router.push('/login');
      }
    }
    if(this.$InfoSystem.user.type== 1){
        this.$router.push("/student")
    }else if(this.$InfoSystem.user.type == 2){
        this.$router.push("/teacher");
    }else if(this.$InfoSystem.user.type == 3){
        this.$router.push("/admin");
    }else{
      this.$router.push('/login');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
