<template>
    <div style="margin-top:40px">
        <el-container>
            <el-header>
                <div>
                  <el-row>
                    <el-col :span="4">
                      <el-button type="info" @click="goHome">Quay lại</el-button>
                    </el-col>
                    <el-col :span="20">
                      <div class="title">
                        <div>Thông tin cá nhân</div>
                      </div>
                    </el-col>
                  </el-row>
                </div>
            </el-header>
            <el-main style="margin-top: 40px">
                <el-row>
                  <el-col :span="2"></el-col>
                  <el-col :span="6">
                    <div style="display: flex;justify-content: center;">
                      <UploadAvatar :avatar="getAvatar" :username="username"></UploadAvatar>
                    </div>
                  </el-col>
                  <el-col :span="14">
                      <el-form ref="form" :model="userInfo" label-width="150px" label-position="left">
                        <el-row :gutter="20">
                          <el-col :span="12">
                            <el-form-item label="Mã số">
                              <el-input v-model="userInfo.code" disabled></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Họ và tên">
                              <el-input v-model="userInfo.name"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-row :gutter="20">
                          <el-col :span="12">
                            <el-form-item label="Ngày sinh">
                              <el-date-picker type="date" v-model="userInfo.birth" style="width:100%"></el-date-picker>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Giới tính">
                              <el-select v-model="userInfo.gender" style="width:100%">
                                <el-option label="Nam" value="1"></el-option>
                                <el-option label="Nữ" value="2"></el-option>
                              </el-select>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-form-item label="Địa chỉ">
                          <el-input v-model="userInfo.address"></el-input>
                        </el-form-item>

                        <el-row :gutter="20">
                          <el-col :span="8">
                            <el-form-item label="Số CMND/Căn cước">
                              <el-input v-model="userInfo.identify"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="Ngày cấp">
                              <el-date-picker type="date" v-model="userInfo.identifyDate" style="width:200px"></el-date-picker>
                            </el-form-item>
                          </el-col>
                          <el-col :span="8">
                            <el-form-item label="Nơi cấp">
                              <el-input v-model="userInfo.identifyAddress"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-form-item label="Số điện thoại">
                          <el-input v-model="userInfo.phone"></el-input>
                        </el-form-item>

                        <el-form-item label="Email">
                          <el-input v-model="userInfo.email"></el-input>
                        </el-form-item>
                        
                        <el-divider></el-divider>

                        <el-row :gutter="20" v-if="type==1">
                          <el-col :span="12">
                            <el-form-item label="Họ tên bố">
                              <el-input v-model="userInfo.fatherName"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Họ tên mẹ">
                              <el-input v-model="userInfo.motherName"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-row :gutter="20" v-if="type==1">
                          <el-col :span="12">
                            <el-form-item label="Địa chỉ bố">
                              <el-input v-model="userInfo.fatherAddress"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Địa chỉ mẹ">
                              <el-input v-model="userInfo.motherAddress"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-row :gutter="20" v-if="type==1">
                          <el-col :span="12">
                            <el-form-item label="Nghề nghiệp bố">
                              <el-input v-model="userInfo.fatherJob"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Nghề nghiệp mẹ">
                              <el-input v-model="userInfo.motherJob"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-row :gutter="20" v-if="type==1">
                          <el-col :span="12">
                            <el-form-item label="Số điện thoại bố">
                              <el-input v-model="userInfo.fatherPhone"></el-input>
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <el-form-item label="Số điện thoại mẹ">
                              <el-input v-model="userInfo.motherPhone"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>

                        <el-form-item>
                          <div>
                            <el-button type="primary" @click="updateInfo">Cập nhật</el-button>
                          </div>
                        </el-form-item>
                      </el-form>
                  </el-col>
                  <el-col :span="2"></el-col>
                </el-row>
            </el-main>
            <el-footer>

            </el-footer>
        </el-container>
    </div>
</template>

<script>
import UploadAvatar from '@/components/common/UploadAvatar'
export default {
    components:{
      UploadAvatar: UploadAvatar
    },
    data(){
        return {
          avatar:this.$InfoSystem.user.avatar,
          idUser: this.$InfoSystem.user.idUser,
          type: this.$InfoSystem.user.type,
          username: this.$InfoSystem.user.username,
          userInfo:{
          }
        };
    },

    methods:{
      goHome(){
        this.$router.go(-1);
      },
      async updateInfo(){
        let api = "/api/";
        if(this.type == 1){
          api+="students";
        }else if(this.type == 2){
          api += "teachers";
        } else if(this.type == 3){
          api += "admins";
        }
        api+="/updateInfo";
        this.userInfo.gender = this.userInfo.gender * 1;
        let data = await this.$RestFul.put(api,this.userInfo);
        if(data != null){
          if(data.status > 0){
            this.$message({
              message:"Cập nhật thông tin thành công",
              type:'success'
            });
          }else{
            this.$message.error('Cập nhật thông tin thất bại');
          }
        }else{
          this.$message.error('Kết nối thất bại');
        }
      }
    },

    async created(){
      let idUser = this.$InfoSystem.user.idUser;
      let type = this.$InfoSystem.user.type;
      let api = "/api/";
      if(type == 1){
        api+= "students/";
      }else if(type == 2){
        api += "teachers/";
      }else if(type == 3){
        api+= "admins/";
      }
      api+='getbyid/'+idUser;
      let data = await this.$RestFul.get(api);
      if(data!= null){
          this.userInfo = data;
          this.avatar = data.avatar;
          this.userInfo.birth = new Date(data.birth);
          this.userInfo.identifyDate = new Date(data.identifyDate);
          this.userInfo.gender = data.gender + "";
      }
    },

    computed:{
      getAvatar(){
        if(this.avatar == null || this.avatar == ""){
            if(this.gender > 1){
                this.avatar = this.$InfoSystem.avatar_nu;
            }else{
                this.avatar = this.$InfoSystem.avatar_nam;
            }
        }else{
          this.avatar = this.$RestFul.baseURL + this.avatar;
        }
        return this.avatar;
      }
    },

    async beforeCreate(){
    if(this.$InfoSystem.user == null){
      if(localStorage.getItem("idUser") == null){
        this.$router.push('/login');
      }else{
        this.$InfoSystem.user = {
            idUser: localStorage.getItem("idUser") * 1,
            username: localStorage.getItem("username"),
            fullName: localStorage.getItem("fullName"),
            type: localStorage.getItem("type") * 1,
            status: localStorage.getItem("status") * 1,
            token: localStorage.getItem("token"),
            avatar: localStorage.getItem('avatar')
        }
      }
    }
    let packet = {
      id: this.$InfoSystem.user.idUser,
      token: this.$InfoSystem.user.token,
      type: this.$InfoSystem.user.type
    }

    let data = await this.$RestFul.post('/api/sign/checkLogin', packet);
    if(data != null){
      if(data.status == 0){
        this.$router.push('/login');
      }
    }
 }
}
</script>

<style scoped>
.title{
  font-size: 20px;
  text-align: center;
}
</style>