<template>
    <div class="wrap">
        <div class="frameLogin">
            <div>
                <h1>Đăng nhập</h1>
            </div>
            <div>
                <el-form label-position="left" :model="formLogin" label-width="120px">
                    <el-form-item label="Tên đăng nhập">
                        <el-input placeholder="Tên đăng nhập" v-model="formLogin.username" suffix-icon="el-icon-user-solid"></el-input>
                    </el-form-item>
                    <el-form-item label="Mật khẩu">
                        <el-input placeholder="Mật khẩu" v-model="formLogin.password" suffix-icon="el-icon-key" show-password></el-input>
                    </el-form-item>
                    <el-form-item>
                        <div class="row">
                            <el-link type="primary" @click="forgetPassword">Quên mật khẩu?</el-link>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="login">Đăng nhập</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <div v-show="isForget" class="forgetPass">
            <div class="row">
                <el-button icon="el-icon-close" circle style="margin-left: 50px; margin-top: 50px" @click="exit"></el-button>
            </div>
            <div v-if="isIdentify==false" class="formForget">
                <el-form v-model="formCheckInfo" label-position="left" label-width="120px">
                    <el-form-item label="Tên đăng nhập">
                        <el-input placeholder="Tên đăng nhập" v-model="formCheckInfo.username"></el-input>
                    </el-form-item>
                    <el-form-item label="CMND">
                        <el-input placeholder="Số chứng minh/căn cước công dân" v-model="formCheckInfo.identify"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="sendCheckInfo">Gửi</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div v-else class="formForget">
                <el-form v-model="formNewPassword" label-position="left" label-width="120px">
                    <el-form-item label="Mật khẩu mới">
                        <el-input placeholder="Nhập mật khẩu mới" v-model="formNewPassword.newPassword" show-password></el-input>
                    </el-form-item>
                    <el-form-item label="Nhập lại">
                        <el-input placeholder="Nhập lại mật khẩu mới" v-model="formNewPassword.repeatNewPassword" show-password></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="sendNewPassword">Đổi mật khẩu</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
        isLogin: true,
        isForget:false,
        isIdentify: false,
        formLogin:{
            username:"",
            password:""
        },
        formCheckInfo:{
            username:"",
            phone:"",
            identify:""
        },
        formNewPassword:{
            newPassword:"",
            repeatNewPassword:""
        }
    }
  },
  methods:{
      async login(){
            if(this.formLogin.username.trim() == ""){
                this.$message({
                    message: 'Tên đăng nhập không được để trống!',
                    type: 'warning'
                });
                return;
            }
            if(this.formLogin.password.trim() == ""){
                this.$message({
                    message: 'Mật khẩu không được để trống!',
                    type: 'warning'
                });
                return;
            }
            let user = {
                username:this.formLogin.username,
                password:this.formLogin.password
            };
            let data = await this.$RestFul.post("/api/sign/login", user);
            if(data == null){
                this.$message.error('Connect failed');
            }else{
                console.log(data);
                if(data.idUser != -1){
                    this.$InfoSystem.user = {
                        idUser: data.idUser,
                        username: data.username,
                        fullName:data.fullNameUser,
                        type: data.usertype,
                        status: data.status,
                        token: data.token,
                        avatar: data.avatar,
                        gender: data.gender
                    }
                    localStorage.setItem("username", data.username);
                    localStorage.setItem("idUser", data.idUser);
                    localStorage.setItem("fullName", data.fullNameUser);
                    localStorage.setItem("type", data.usertype);
                    localStorage.setItem("token", data.token);
                    localStorage.setItem("avatar", data.avatar);
                    localStorage.setItem("gender", data.gender);

                    if(data.usertype == 1){
                        this.$router.push("/student/mstudenttkb")
                    }else if(data.usertype == 2){
                        this.$router.push("/teacher/mteachertkb");
                    }else if(data.usertype == 3){
                        this.$router.push("/admin/madmin");
                    }else{
                        this.$router.push('/login');
                    }
                }else{
                    this.$InfoSystem.user = null;
                    this.$message.error('Sai tên đăng nhập hoặc mật khẩu!');
                }
            }
      },
      forgetPassword(){
          this.isForget = true;
      },
      async sendCheckInfo(){
          let packet = {
              code: this.formCheckInfo.username,
              identify: this.formCheckInfo.identify
          }
          let data = await this.$RestFul.post("/api/sign/validateAccount", packet);
          if(data != null){
              if(data.status == 1){
                  this.isIdentify = true;
              }else{
                  this.$message.error("Taì khoản không tồn tại!");
              }
          }
      },
      async sendNewPassword(){
          if(this.formNewPassword.newPassword.trim() == ""){
              this.$message({
                  message:"Mật khẩu không được để trống!",
                  type:"warning"
              });
              return;
          }
          if(this.formNewPassword.newPassword != this.formNewPassword.repeatNewPassword){
              this.$message({
                  message:"Nhác lại mật khẩu không chính xác!",
                  type:"warning"
              });
              return;
          }
          let packet = {
              code: this.formCheckInfo.username,
              password: this.formNewPassword.newPassword
          };
          let data = await this.$RestFul.post("/api/sign/changePassword", packet);
          if(data != null){
              if(data.status == 1){
                  this.isIdentify = false;
                  this.isForget = false;
                  this.formLogin.username = this.formCheckInfo.username;
                  this.formLogin.password = this.formNewPassword.newPassword;
                  await this.login();
              }
          }
      },
      exit(){
          this.isIdentify = false;
          this.isForget = false;
      }
  },

  beforeCreate(){
      this.$InfoSystem.user = null;
      localStorage.clear();
  }
}
</script>

<style scoped>
.wrap{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-image: url('../../assets/images/common/backgroundLogin.jpg');
    background-size: 100vw 100vh;
}
.frameLogin{
    position: absolute;
    background-color: #EBEEF5;
    width: 500px;
    height: auto;
    text-align: center;
    right: 150px;
    bottom: 400px;
    padding: 20px;
    border-radius: 10px;
    opacity: 98%;
    
}
.row{
    width: 100%;
    display: flex;
    justify-content: left;
}

.forgetPass{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    opacity: 80%;
    z-index: 1;
}

.formForget{
    position: absolute;
    top: 100px;
    left: calc(50vw - 250px);
    width: 500px;
    height: auto;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
    padding: 20px;
}
</style>