<template>
  <div>
      <el-table
        :data="getDataShow"
        style="width: 100%"
        max-height="700">
        <el-table-column v-for="(colf, index) in colfixeds" :key="index"
        fixed
        :prop="colf.prop"
        :label="colf.label"
        :width="colf.width">
        </el-table-column>
        <el-table-column v-for="(col, index) in cols" :key="'normal'+index"
        :prop="col.prop"
        :label="col.label"
        :width="col.width">
        </el-table-column>
        <el-table-column
        fixed="right"
        label=""
        width="150">
        <template slot-scope="scope">
            <el-row type="flex" justify="space-between">
                <el-col :span="10">
                    <el-button v-if="hasDelete"
                    @click.native.prevent="deleteRow(scope.$index, tableData)"
                    size="small">
                    Xóa
                    </el-button>
                </el-col>
                <el-col :span="20">
                    <el-button v-if="hasEdit"
                    @click.native.prevent="editRow(scope.$index, tableData)"
                    type="success"
                    size="small">
                    {{nameButtionEdit}}
                    </el-button>
                </el-col>
            </el-row>
        </template>
        </el-table-column>
    </el-table>

    <el-row type="flex" justify="center" v-if="tableData.length>10">
        <el-col :span="6">
            <div class="block">
                <div class="block">
                    <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page.sync="indexPage"
                        :page-size="maxSize"
                        layout="total, prev, pager, next"
                        :total="tableData.length">
                    </el-pagination>
                </div>
            </div>
        </el-col>
    </el-row>
  </div>
</template>

<script>
  export default {
    props:['tableData','cols','colfixeds','hasDelete','hasEdit'],
    props:{
        tableData: Array,
        cols: Array,
        colfixeds:Array,
        hasDelete:{
            type: Boolean,
            default: false
        },
        hasEdit:{
            type: Boolean,
            default: false
        },
        nameButtionEdit:{
            type: String,
            default: 'Chi tiết'
        }
    },
    data() {
      return {
        maxSize: 10,
        indexPage: 1,
        dataShow:[],
      }
    },
    computed:{
    },
    methods:{
        handleCurrentChange(val) {
            let start = this.maxSize*(this.indexPage-1);
            let i = 0;
            let data = [];
            for(i = 0;i<this.maxSize;i++){
                if(i + start < this.tableData.length){
                    data.push(this.tableData[i + start]);
                }else{
                    break;
                }
            }
            this.dataShow = data;
        },
        deleteRow(index, rows) {
            this.$emit('deleteRow',index, rows[this.maxSize*(this.indexPage-1)+index]);
        },
        editRow(index, rows){
            this.$emit('editRow',index, rows[this.maxSize*(this.indexPage-1)+index]);
        }
    },
    beforeMount(){
        this.handleCurrentChange(1);
    },
    computed:{
        getDataShow(){
            this.handleCurrentChange(1);
            return this.dataShow;
        }
    },
    watch:{
        tableData(){
            this.indexPage = 1;
        }
    }
  }
</script>