<template>
    <div>
        <el-upload
            class="avatar-uploader"
            :action="url+username"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload">
            <img :src="getImageUrl" class="avatar">
            <!-- <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i> -->
        </el-upload>
    </div>
</template>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>

<script>
  export default {
    props: ['avatar','username'],
    data() {
      return {
        url:'http://localhost:8000/api/others/changeAvatar/',
        imageUrl: this.avatar
      };
    },
    methods: {
      handleAvatarSuccess(res, file) {
        //this.imageUrl = URL.createObjectURL(file.raw);
        let data = file.response;
        if(data.status == 1){
          this.imageUrl = this.$RestFul.baseURL+file.response.link;
          this.avatar = this.imageUrl;
          this.$message({
            message:"Cập nhật avatar thành công",
            type:"success"
          });
          this.$emit("updateAvatar", file.response.link);
        }else{
          this.$message.error("Cập nhật thất bại!");
        }
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png';
        const isLt5M = file.size / 1024 / 1024 < 5;

        if (!isJPG) {
          this.$message.error('Avatar picture must be JPG or PNG format!');
        }
        if (!isLt5M) {
          this.$message.error('Avatar picture size can not exceed 5MB!');
        }
        return isJPG && isLt5M;
      }
    },
    computed:{
      getImageUrl(){
        this.imageUrl = this.avatar;
        return this.imageUrl;
      }
    }
  }
</script>